
/** 
Copyright distrib (2018) 

contact@opendistrib.net

Ce logiciel est un programme informatique servant à aider les producteurs 
à distribuer leur production en circuits courts. 

Ce logiciel est régi par la licence CeCILL soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme,  le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard  l'attention de l'utilisateur est attirée sur les risques
associés au chargement,  à l'utilisation,  à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant  des  connaissances  informatiques approfondies.  Les
utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL, et que vous en avez accepté les
termes.
*/

h1.title-system-order {
	color: #323232 ;
	padding-bottom: 35px ;
	font-size: 30px ;
	line-height: 35px ;
        font-family: "highvoltageregular" ;
        
	text-align: center ;
	position: relative ;
	margin-top: 0px ;
	
	img {
		width: 35px ;
		margin-right: 7px ;
	}
}

h2 {
    font-size: 20px ;
    //color: black ;
    text-transform: uppercase ;
}

#addproducerform-id_producer,
#signupform-id_producer {
    option:disabled {
        font-weight: bold ;
        color: black ;
    }
    .lock {
        position: relative ;
    }
    
    .lock:before {
        font-family: "Glyphicons Halflings" ;
        content: "\e033";
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        position: relative;
        top: 1px;
        right: 0px ;
    }
}

#block-code-acces {
    display: none ;
}


#main .list-producers {
            
    .producer {
        padding-left: 0px ;
        padding-right: 30px ;
        
        .panel {
            margin-bottom: 13px ;
        }
        
        &.selected .panel {
            border-bottom: solid 3px $color1 ;
            margin-bottom: 11px ;
        }
        
        .panel-heading {
            height: 150px ;
            overflow: hidden ;
            padding: 0px ;
            background: none ;
            background-color: #F8F1DD ;
            .img-back {
                width: 100% ;
                height: auto ;
                position: relative;
                top: -50% ;
            }
        }

        .panel-body {
            position: relative ;
            width: 100% ;
            height: 150px ;
            max-height: 150px;
            text-align: center ;

            h3 {
                margin-bottom: 4px ;
            }

            .locality {
                color: gray ;
                margin-bottom: 10px ;
            }

            .glyphicon-check {
                color: $color1 ;
                font-size: 40px ;
                position: absolute ;
                top: 34px ;
                left: 32px ;
            }
            
            .remove {
                position: absolute ;
                top: 10px; 
                right: 10px ;
            }

            .logo {
                display: none ;
                width: 150px ;
                position: absolute ;
                top: -40px ;
                left: 50% ;
                margin-left: -75px ;
                background-color: white ;
                padding: 10px 20px ;
            }
            
            .order-deadline,
            .credit {
                margin-top: 15px ;
                font-size: 13px ;
            }
            
            .order-deadline {
                float: left ;
            }
            
            .credit {
                float: right ;
                
                .amount {
                    font-size: 16px ;
                    color: $color1 ;
                    background-color: $color2 ;
                    padding: 2px 10px ;
                    @include border-radius(5px) ;
                    font-weight: bold ;
                    .glyphicon {
                        font-size: 13px ;
                    }
                }
            }
            
            .info-credit {
                font-size: 17px ;
                position: relative ;
                top: 2px ;
                left: 3px ;
                color: $color1 ; 
            }
        }
    }  
}

#index-order {
	position: relative ;
	
	#logout {
		position: absolute ;
		/*top: 45px ;
		right: 93px ;*/
		top: 0 ;
		right: 0 ;
		z-index: 10 ;
	}
	
	.home {
		text-align: center ;
		padding-bottom: 20px; 
	}
        
        #block-add-producer {
            padding-left: 0px ;
            padding-right: 30px ;
            
            .help-block {
                padding-bottom: 0px ;
            }
            
            .field-addproducerform-id_producer {
                width: 70% ;
                float: left ;
            }
            
            .field-addproducerform-code {
                width: 70% ;
                float: left ;
            }
            
            .btn {
                float: right ;
                position: relative ;
                top: 20px ;
            }
            
            .panel-heading {
                background: none ;
                background-color: white ;
                cursor: pointer ;
            }
            
            .panel-body {
                display: none ;
            }
        }

	#history-orders {
		.status, .amount{
			width: 175px ;
		}
		.amount {
			//text-align: center ;
			width: 100px ;
		}
		
		.name-point-sale {
		}
		.locality {
			font-size: 11px ;
			lin-height: 11px ;
		}
		
		a {
			text-decoration: none ;
		}
		
                .comment {
                    margin-top: 5px ;
                    span {
                        font-size: 12px ;
                        background-color: white ;
                        color: $color1 ;
                        font-weight: bold ; 
                        @include border-radius(5px) ;
                        padding: 5px 10px ;
                        border: solid 1px #ccc ;
                    }
                }
	}
}
		
.order-form {
	
        min-height: 600px ;
        padding-bottom: 60px ;
        
	h2 {
		font-family: "myriadpro-regular" ;
	}
	
	#infos-importantes.alert-warning {
		float: right ;
	}
	
	#datepicker-distribution {
	
		.ui-datepicker {
			float: left ;
			margin-right: 20px ;
                        font-size: 20px ;
		}
                
                .ui-datepicker-header {
                    background-color: $color1 ;
                }
                
                .ui-datepicker-title {
                    color: white 
                }
                
                .ui-datepicker-prev,
                .ui-datepicker-next {
                    &:hover {
                        border: 0px none ;
                        background: none ;
                    }
                }
	
		.ui-helper-clearfix:after {
			clear: none ;
		}
                
                .ui-datepicker-calendar {
                    a {
                        text-decoration: none ;
                        background-color: $color2 ;
                        &.ui-state-hover, &.ui-state-active {
                            background-color: $color1 ;
                            color: white ;
                            border-color: #cdc3b7 ;
                        }
                    }
                }
	}
        
        .date-order {
            margin-bottom: 53px ;
            span {
                background-color: $color1 ;
                color: white ;
                @include border-radius(10px) ;
                padding: 10px ;
                font-family: "myriadpro-regular"; 
                font-size: 20px ;
            }
        }
	
	#has-order-in-progress {
		margin-top: 15px ;
		
		a {
			color: #a94442 ;
			text-decoration: none ;
			font-weight: bold ;
		}
	}
        
        .field-order-id_distribution {
            display: none ;
        }
	
	.field-order-id_point_sale {
		margin-top: 30px ;
	}
	
	.field-order-id_distribution {
		margin-bottom: 0px ;
		label {
			margin-bottom: 0px ;
		}
		
		.help-block {
			margin-bottom: 0px ;
		}
	}
        
        .field-order-id_point_sale {
            display: none ;
        }
	
	.blocks {
		list-style-type: none ;
		margin: 0px ;
		padding: 0px ;
		
		.block {
                        text-decoration: none ;
			width: 268px ;
			height: 130px ;
			float: left ;
			padding: 20px ;
			margin-right: 20px ;
			margin-bottom: 8px ;
			cursor: pointer ;
			float: left ;
			background-color: #f9f9f9 ;
			background-color: white ;
                        
			border: 1px solid #d8d8d8 ;
			
			.name {
				//text-align: center ;
				font-family: "comfortaalight" ;
				font-size: 20px ;
			}
			
			.address {
				color: gray ;
				font-size: 13px ;
				line-height: 16px ;
			}
			
			.infos {
				margin-top: 7px ;
				.day {
					font-weight: bold ;
					display: none ;
				}
			}
			
                        
			&.selected {
				border-left: solid 5px $color1 ;
				//@include box-shadow(0px 0px 5px #d8d8d8) ;
				.contenu {
					position: relative ;
					left: -4px ;
				}
			}
			
			&:hover {
				@include box-shadow(0px 0px 5px #d8d8d8) ;
				//@include box-shadow(none) ;
			}
			
			&.disabled {
				display: none ;
				//color: gray ;
			}
                        
                        .comment {
                            margin-top: 5px ;
                            span {
                                background-color: $color1 ;
                                @include border-radius(5px) ;
                                color: white ;
                                font-weight: bold ;
                                padding: 3px 10px ;
                            }
                        }
		}
	}
	
	#products {
		margin-top: 15px ;
		
		#label-products {
			display: block ;
			margin-bottom: 5px ;
		}
		
		.table {
			margin-top: 7px ;
			
			.photo {
                                padding: 0px ;
                                width: 120px ;
			}
                        
                        .th-photo, .td-photo {
                            width: 120px ;
                        }
			
			.name {
				font-family: "comfortaalight" ;
				font-weight: bold ;
				text-transform: uppercase ;
				font-size: 18px ;
			}
			
			.description {
				font-style: italic;
			}	
			
			.recipe {
				font-size: 12px ;
			}
			
			.input-group {
				width: 133px ;
				.quantity {
					text-align: center ;	
				}
			}
			
			.column-quantity, .price-unit, .total {
				width: 150px ;
				text-align: center ;
			}
			
			td#total-order, td#total-order-vrac, td.total {
				text-align: center ;
			}	
			
			.epuise {
				display: none ;
				text-transform: uppercase ;
				color: #B32815 ;
				font-weight: bold ;
				font-size: 16px ;
				text-align: center ;
			}
			
			.quantity-remaining{
				font-size: 12px ;
				margin-top: 8px ;
				
				.nb {
					font-weight: bold ;
				}
			}
			
			td.product, th.product {
				width: 70% ;
			} 
			
			td.price-unit, th.price-unit {
				width: 10% ;
			}
			
			td.column-quantity, th.column-quantity {
				width: 10% ;
			}
			
			td.total, th.total {
				width: 10% ;
			}
		}
	}

	#bar-fixed {
                display: none ;
                position: fixed ;
                bottom: 0px ;
                //left: 0px ;
                z-index: 100 ;
                //width: 100% ;
                background-color: white ;
                padding: 15px ;
                margin-bottom: 0px ;
                @include box-shadow(0 0 5px gray) ;
                @include border-radius(10px 10px 0px 0px) ;
                border-top: solid 1px #e0e0e0 ;
                background-color: #F9F9F9 ;
                background-color: $color2 ;
                text-align: center ;
                
                &.not-fixed {
                    position: relative ;
                    @include box-shadow(none) ;
                    @include border-radius(0px) ;
                    border: solid 1px #e0e0e0 ;
                    padding-right: 20px ;
                }
                
                &.no-credit {
                    #bloc-valider-commande {
                        margin-top: 0px ;
                        float: right ;
                    }
                }
                
                #total-order-bottom {
                    background-color: white ;
                    @include border-radius(20px) ;
                    padding: 5px 25px ;
                    border: solid 1px #e0e0e0 ;
                }
                 
                .btn-comment {
			float: left ;
		}
                
                .confirm-order {
                    //float: left;
                }
                
                .btn-comment {
                    margin-right: 10px ;
                }
                
                #block-confirm-order {
                    text-align: right ;
                    margin-top: 20px ;
                    
                    button {
                        width: 340px ;
                        margin-right: 10px ;
                    }
                }
                
                #checkbox-credit {
                    float: right ;
                    width: 340px ;
                    padding: 3px 11px ;
                    background-color: white ;
                    border: solid 1px #ccc ;
                    @include border-radius(5px) ;
                    margin-right: 10px  ;
                    @include text-shadow(0 1px 0 #fff) ;
                    @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075)) ;
                    
                    &.payment-impossible {
                        background-color: #e0e0e0 ;
                    }
                    
                    .info {
                        color: gray ;
                        font-weight: normal 
                    }
                    
                    .the-credit {
                        background-color: $color1 ;
                        color: white ;
                        padding: 2px 8px;
                        @include border-radius(5px) ;
                    }
                    
                    .amount-paid {
                        color: $color1 ;
                    }
                    
                    #info-credit-empty {
                        font-size: 12px ;
                    }
                    
                    #credit-disabled {
                        display: none ;
                        font-size: 12px ;
                    }
                }
                
                .btn-retour, .cancel-order {
                    float: left ;
                    margin-right: 5px ;
                }
                
                .cancel-order {
                    color: #b92c28 ;
                    background-color: white ;
                }
                
                #total-order-bottom {
                    display: none ;
                    font-weight: bold ;
                    font-family: "comfortaalight" ;
                    font-size: 24px ;
                }
                
                .field-order-comment {
                    display: none ;
                }
	}
}

.ui-datepicker {
	//@include border-radius(0px) ;
	.ui-widget-header {
		background: none ;
		background-color: gray ;
		border: 0px none ;
		color: black ;
		font-weight: normal ;
	}
	
	.ui-datepicker-current-day a,
	a.ui-state-hover {
		background: none ;
		//background-color: #fdd44b ;
                background-color: gray ;
                border-color: black ;
		color: black ;
	}
	
	
}

#page-producer,
#page-producer-code {
    h1 {
        font-size: 40px ;
    }
    .info {
        text-align: center ;
    }
}

#page-producer-code {
    form#producer-code {
        max-width: 400px ;
        margin: 0px auto ;
        
        .form-group.buttons {
            text-align: center ;
        }
    }
}