@charset "UTF-8";
/** 
Copyright distrib (2018) 

contact@opendistrib.net

Ce logiciel est un programme informatique servant à aider les producteurs 
à distribuer leur production en circuits courts. 

Ce logiciel est régi par la licence CeCILL soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme,  le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard  l'attention de l'utilisateur est attirée sur les risques
associés au chargement,  à l'utilisation,  à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant  des  connaissances  informatiques approfondies.  Les
utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL, et que vous en avez accepté les
termes.
*/
/* line 5, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/** 
Copyright distrib (2018) 

contact@opendistrib.net

Ce logiciel est un programme informatique servant à aider les producteurs 
à distribuer leur production en circuits courts. 

Ce logiciel est régi par la licence CeCILL soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme,  le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard  l'attention de l'utilisateur est attirée sur les risques
associés au chargement,  à l'utilisation,  à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant  des  connaissances  informatiques approfondies.  Les
utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL, et que vous en avez accepté les
termes.
*/
/* line 45, ../sass/_layout.scss */
body {
  font-family: "Arial";
  background-color: #FFF8DC;
  color: #333;
  line-height: 20px;
  font-size: 14px;
}

/* line 53, ../sass/_layout.scss */
.clr {
  clear: both;
}

/* line 57, ../sass/_layout.scss */
.modal-backdrop.in {
  z-index: 10;
}

/* line 61, ../sass/_layout.scss */
#main {
  position: relative;
}
/* line 63, ../sass/_layout.scss */
#main .btn-primary {
  background-color: #FF7F00;
  border: solid 1px #FF7F00;
  color: white;
}
/* line 68, ../sass/_layout.scss */
#main .btn-primary:hover, #main .btn-primary:active, #main .btn-primary:focus {
  background-color: #e67200;
  border: solid 1px #FF7F00;
  color: white;
}

/* line 77, ../sass/_layout.scss */
.btn {
  background-image: none;
}

/* line 81, ../sass/_layout.scss */
#main .alert {
  background-image: none;
  background-color: white;
  border-bottom-width: 3px;
}

/* line 89, ../sass/_layout.scss */
.alert.alert-warning a {
  color: #8a6d3b;
  text-decoration: underline;
}
/* line 96, ../sass/_layout.scss */
.alert.alert-danger a {
  color: #a94442;
  text-decoration: underline;
}

/* line 106, ../sass/_layout.scss */
ul.pagination li.active a {
  background-color: #FF7F00;
  border: solid 1px #FF7F00;
}
/* line 110, ../sass/_layout.scss */
ul.pagination li.active a:hover {
  background-color: white;
  border: solid 1px white;
  color: #FF7F00;
}
/* line 117, ../sass/_layout.scss */
ul.pagination li a {
  color: #FF7F00;
}
/* line 120, ../sass/_layout.scss */
ul.pagination li a:hover, ul.pagination li a:focus, ul.pagination li a:active {
  background-color: white;
  border: solid 1px white;
  color: #FF7F00;
}

/* line 129, ../sass/_layout.scss */
#header-bap {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 70px;
  background-color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  z-index: 1000;
}
/* line 140, ../sass/_layout.scss */
#header-bap .container {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 145, ../sass/_layout.scss */
#header-bap a#logo {
  color: black;
  text-decoration: none;
  position: relative;
  top: 3px;
}
/* line 151, ../sass/_layout.scss */
#header-bap a#logo img {
  width: 45px;
}
/* line 156, ../sass/_layout.scss */
#header-bap ul#nav-bap {
  float: right;
}
/* line 160, ../sass/_layout.scss */
#header-bap ul#nav-bap li a {
  color: black;
  font-size: 15px;
  color: #FF7F00;
}
/* line 165, ../sass/_layout.scss */
#header-bap ul#nav-bap li a:hover, #header-bap ul#nav-bap li a:focus {
  color: #333;
  color: #FF7F00;
  background: none;
}
/* line 172, ../sass/_layout.scss */
#header-bap ul#nav-bap li ul {
  background-color: white;
  border-top: solid 2px #FF7F00;
  left: -141px;
  top: 50px;
  width: 200px;
}
/* line 180, ../sass/_layout.scss */
#header-bap ul#nav-bap li ul li a {
  text-transform: uppercase;
  font-size: 13px;
}
/* line 184, ../sass/_layout.scss */
#header-bap ul#nav-bap li ul li a:hover {
  color: #ff9933;
}
/* line 188, ../sass/_layout.scss */
#header-bap ul#nav-bap li ul li a small {
  font-size: 10px;
  line-height: 13px;
  margin-left: 18px;
}

/* line 200, ../sass/_layout.scss */
#left {
  background-color: #FFF8DC;
  text-align: center;
  margin-top: 15px;
  padding: 0px;
  position: relative;
}
/* line 207, ../sass/_layout.scss */
#left .fixed {
  position: fixed;
  display: none;
}
/* line 213, ../sass/_layout.scss */
#left #logo {
  position: relative;
  background-color: white;
  width: 110px;
  height: 110px;
  margin: 0px auto;
  margin-bottom: 20px;
  -moz-border-radius: 110px;
  -webkit-border-radius: 110px;
  border-radius: 110px;
  border: solid 1px gray;
  text-align: center;
  overflow: hidden;
}
/* line 225, ../sass/_layout.scss */
#left #logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90px;
  max-height: 90px;
}
/* line 235, ../sass/_layout.scss */
#left h1, #left h2, #left #infos, #left #infos a {
  color: #323232;
}
/* line 239, ../sass/_layout.scss */
#left h1 {
  text-transform: uppercase;
  font-family: "highvoltageregular";
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  padding-bottom: 5px;
  text-align: center;
  font-weight: normal;
}
/* line 250, ../sass/_layout.scss */
#left h2 {
  font-family: "capsuularegular";
  font-size: 15px;
  font-weight: normal;
  text-align: center;
}
/* line 256, ../sass/_layout.scss */
#left h2 .favorite {
  padding-left: 0px;
}
/* line 259, ../sass/_layout.scss */
#left h2 .favorite .glyphicon {
  font-size: 14px;
}
/* line 264, ../sass/_layout.scss */
#left h2 a {
  color: #323232;
}
/* line 270, ../sass/_layout.scss */
#left nav#main-nav {
  background-color: white;
  border: solid 1px #e0e0e0;
  border-bottom: 0px none;
  margin-top: 20px;
}
/* line 277, ../sass/_layout.scss */
#left nav#main-nav ul li {
  display: block;
}
/* line 280, ../sass/_layout.scss */
#left nav#main-nav ul li a {
  color: #323232;
  color: black;
  border-bottom: solid 1px #e0e0e0;
  font-family: "capsuularegular";
  font-size: 18px;
  display: block;
  text-align: left;
}
/* line 289, ../sass/_layout.scss */
#left nav#main-nav ul li a .glyphicon {
  font-size: 15px;
  margin-right: 3px;
}
/* line 294, ../sass/_layout.scss */
#left nav#main-nav ul li a span.label {
  padding-bottom: 3px;
  font-family: "Arial";
  float: right;
}
/* line 302, ../sass/_layout.scss */
#left nav#main-nav ul li.active span.label, #left nav#main-nav ul li a:hover span.label {
  background-color: #e67200;
  color: white;
}
/* line 308, ../sass/_layout.scss */
#left nav#main-nav ul li a:hover, #left nav#main-nav ul li.active a {
  background: #FF7F00;
  color: white;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* line 317, ../sass/_layout.scss */
#left nav#main-nav ul li#btn-administration a {
  color: #FF7F00;
}
/* line 320, ../sass/_layout.scss */
#left nav#main-nav ul li#btn-administration a:hover {
  color: white;
}
/* line 328, ../sass/_layout.scss */
#left nav#main-nav #user {
  color: #FF7F00;
  float: right;
  padding: 10px;
}

/* line 336, ../sass/_layout.scss */
#main {
  background-color: #FFF8DC;
  border: solid 1px #e0e0e0;
  margin-top: 15px;
  padding: 0px;
  background-color: white;
}
/* line 343, ../sass/_layout.scss */
#main #img-big {
  height: 130px;
  overflow: hidden;
  position: relative;
}
/* line 348, ../sass/_layout.scss */
#main #img-big img.img-photo {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 358, ../sass/_layout.scss */
#main #infos-producer {
  padding: 5px 10px;
  margin-bottom: 0px;
  font-size: 16px;
  font-family: "capsuularegular";
  background-color: white;
  border-bottom: solid 1px #e0e0e0;
  color: gray;
}
/* line 367, ../sass/_layout.scss */
#main #infos-producer strong {
  font-weight: bold;
}
/* line 371, ../sass/_layout.scss */
#main #infos-producer .favorite {
  float: right;
  color: gray;
}
/* line 374, ../sass/_layout.scss */
#main #infos-producer .favorite a {
  color: black;
}
/* line 380, ../sass/_layout.scss */
#main h2#page-title {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 30px;
  border-bottom: solid 1px #e0e0e0;
  margin-bottom: 10px;
  font-family: "highvoltageregular";
  font-size: 30px;
  line-height: 40px;
  position: relative;
  top: -10px;
  text-align: left;
}
/* line 394, ../sass/_layout.scss */
#main h2#page-title #buttons {
  margin-bottom: 15px;
  font-family: "Arial";
}
/* line 401, ../sass/_layout.scss */
#main #content {
  padding: 0px 20px 20px 20px;
  padding-bottom: 40px;
  min-height: 300px;
}
/* line 406, ../sass/_layout.scss */
#main #content h1, #main #content h2, #main #content h3, #main #content h4, #main #content h5, #main #content h6 {
  font-family: "highvoltageregular";
  margin-top: 30px;
  margin-bottom: 20px;
}
/* line 411, ../sass/_layout.scss */
#main #content h1.first, #main #content h2.first, #main #content h3.first, #main #content h4.first, #main #content h5.first, #main #content h6.first {
  margin-top: 0px;
}
/* line 416, ../sass/_layout.scss */
#main #content h1 {
  font-size: 30px;
}
/* line 420, ../sass/_layout.scss */
#main #content h2 {
  font-size: 25px;
}
/* line 425, ../sass/_layout.scss */
#main #content h3 {
  font-family: "capsuularegular";
  text-transform: uppercase;
  font-size: 23px;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 45px;
}
/* line 433, ../sass/_layout.scss */
#main #content h3 span {
  padding-top: 14px;
  color: #323232;
}
/* line 439, ../sass/_layout.scss */
#main #content h4 {
  font-size: 20px;
}
/* line 443, ../sass/_layout.scss */
#main #content h5 {
  font-size: 18px;
}
/* line 447, ../sass/_layout.scss */
#main #content h6 {
  font-size: 16px;
}
/* line 453, ../sass/_layout.scss */
#main #content form .form-group .hint-block {
  color: gray;
}

/* line 461, ../sass/_layout.scss */
#footer-producer {
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
/* line 468, ../sass/_layout.scss */
#footer-producer a {
  color: #FF7F00;
}
/* line 470, ../sass/_layout.scss */
#footer-producer a:active {
  text-decoration: underline;
}

/* line 476, ../sass/_layout.scss */
#footer {
  background-color: #FFF8DC;
  height: 100px;
  float: right;
  text-align: center;
}
/* line 482, ../sass/_layout.scss */
#footer .content {
  padding-top: 20px;
  color: black;
}
/* line 486, ../sass/_layout.scss */
#footer .content a {
  color: black;
  font-family: "capsuularegular";
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 493, ../sass/_layout.scss */
#footer .content a:hover {
  text-decoration: underline;
}
/* line 500, ../sass/_layout.scss */
#footer #code-source img {
  height: 20px;
}

/** 
Copyright distrib (2018) 

contact@opendistrib.net

Ce logiciel est un programme informatique servant à aider les producteurs 
à distribuer leur production en circuits courts. 

Ce logiciel est régi par la licence CeCILL soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme,  le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard  l'attention de l'utilisateur est attirée sur les risques
associés au chargement,  à l'utilisation,  à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant  des  connaissances  informatiques approfondies.  Les
utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL, et que vous en avez accepté les
termes.
*/
/* line 39, ../sass/site/_index.scss */
.site-index #order {
  margin-bottom: 40px;
  text-align: center;
}
/* line 45, ../sass/site/_index.scss */
.site-index #presentation .photo {
  text-align: center;
}
/* line 47, ../sass/site/_index.scss */
.site-index #presentation .photo .img-photo {
  width: 100%;
  max-width: 500px;
}
/* line 55, ../sass/site/_index.scss */
.site-index #points-sale .name {
  color: #333;
}
/* line 57, ../sass/site/_index.scss */
.site-index #points-sale .name .the-name {
  font-family: "capsuularegular";
  font-size: 20px;
  color: black;
}
/* line 67, ../sass/site/_index.scss */
.site-index #points-sale .days small {
  color: gray;
}
/* line 76, ../sass/site/_index.scss */
.site-index #products h4 {
  font-family: "highvoltageregular";
  font-size: 22px;
  line-height: 30px;
  padding-top: 13px;
  text-transform: uppercase !important;
}
/* line 84, ../sass/site/_index.scss */
.site-index #products td.photo {
  width: 100px;
}
/* line 86, ../sass/site/_index.scss */
.site-index #products td.photo img.photo-product {
  width: 120px;
  height: auto;
}
/* line 92, ../sass/site/_index.scss */
.site-index #products .name {
  color: #333;
}
/* line 94, ../sass/site/_index.scss */
.site-index #products .name .the-name {
  font-family: "capsuularegular";
  font-size: 20px;
  color: black;
}

/* line 4, ../sass/site/_credit_history.scss */
.site-credit-history #credit-user {
  color: #FF7F00;
  font-size: 29px;
  font-weight: bold;
}

/** 
Copyright distrib (2018) 

contact@opendistrib.net

Ce logiciel est un programme informatique servant à aider les producteurs 
à distribuer leur production en circuits courts. 

Ce logiciel est régi par la licence CeCILL soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme,  le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard  l'attention de l'utilisateur est attirée sur les risques
associés au chargement,  à l'utilisation,  à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant  des  connaissances  informatiques approfondies.  Les
utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL, et que vous en avez accepté les
termes.
*/
/* line 40, ../sass/order/_form.scss */
.order-create #main #content .order-form,
.order-update #main #content .order-form {
  min-height: 600px;
  padding-bottom: 60px;
}
/* line 45, ../sass/order/_form.scss */
.order-create #main #content .order-form h2,
.order-update #main #content .order-form h2 {
  font-family: "myriadpro-regular";
}
/* line 49, ../sass/order/_form.scss */
.order-create #main #content .order-form #infos-importantes.alert-warning,
.order-update #main #content .order-form #infos-importantes.alert-warning {
  float: right;
}
/* line 55, ../sass/order/_form.scss */
.order-create #main #content .order-form #datepicker-distribution .ui-datepicker,
.order-update #main #content .order-form #datepicker-distribution .ui-datepicker {
  float: left;
  margin-right: 20px;
  font-size: 20px;
}
/* line 61, ../sass/order/_form.scss */
.order-create #main #content .order-form #datepicker-distribution .ui-datepicker-header,
.order-update #main #content .order-form #datepicker-distribution .ui-datepicker-header {
  background-color: #FF7F00;
}
/* line 65, ../sass/order/_form.scss */
.order-create #main #content .order-form #datepicker-distribution .ui-datepicker-title,
.order-update #main #content .order-form #datepicker-distribution .ui-datepicker-title {
  color: white;
}
/* line 71, ../sass/order/_form.scss */
.order-create #main #content .order-form #datepicker-distribution .ui-datepicker-prev:hover,
.order-create #main #content .order-form #datepicker-distribution .ui-datepicker-next:hover,
.order-update #main #content .order-form #datepicker-distribution .ui-datepicker-prev:hover,
.order-update #main #content .order-form #datepicker-distribution .ui-datepicker-next:hover {
  border: 0px none;
  background: none;
}
/* line 77, ../sass/order/_form.scss */
.order-create #main #content .order-form #datepicker-distribution .ui-helper-clearfix:after,
.order-update #main #content .order-form #datepicker-distribution .ui-helper-clearfix:after {
  clear: none;
}
/* line 82, ../sass/order/_form.scss */
.order-create #main #content .order-form #datepicker-distribution .ui-datepicker-calendar a,
.order-update #main #content .order-form #datepicker-distribution .ui-datepicker-calendar a {
  text-decoration: none;
  background-color: white;
}
/* line 85, ../sass/order/_form.scss */
.order-create #main #content .order-form #datepicker-distribution .ui-datepicker-calendar a.ui-state-hover, .order-create #main #content .order-form #datepicker-distribution .ui-datepicker-calendar a.ui-state-active,
.order-update #main #content .order-form #datepicker-distribution .ui-datepicker-calendar a.ui-state-hover,
.order-update #main #content .order-form #datepicker-distribution .ui-datepicker-calendar a.ui-state-active {
  background-color: #FF7F00;
  color: white;
  border-color: #cdc3b7;
}
/* line 94, ../sass/order/_form.scss */
.order-create #main #content .order-form .date-order,
.order-update #main #content .order-form .date-order {
  margin-bottom: 53px;
}
/* line 96, ../sass/order/_form.scss */
.order-create #main #content .order-form .date-order span,
.order-update #main #content .order-form .date-order span {
  background-color: #FF7F00;
  color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  font-family: "myriadpro-regular";
  font-size: 20px;
}
/* line 106, ../sass/order/_form.scss */
.order-create #main #content .order-form #has-order-in-progress,
.order-update #main #content .order-form #has-order-in-progress {
  margin-top: 15px;
}
/* line 109, ../sass/order/_form.scss */
.order-create #main #content .order-form #has-order-in-progress a,
.order-update #main #content .order-form #has-order-in-progress a {
  color: #a94442;
  text-decoration: none;
  font-weight: bold;
}
/* line 116, ../sass/order/_form.scss */
.order-create #main #content .order-form .field-order-id_distribution,
.order-update #main #content .order-form .field-order-id_distribution {
  display: none;
}
/* line 120, ../sass/order/_form.scss */
.order-create #main #content .order-form .field-order-id_point_sale,
.order-update #main #content .order-form .field-order-id_point_sale {
  margin-top: 30px;
}
/* line 124, ../sass/order/_form.scss */
.order-create #main #content .order-form .field-order-id_distribution,
.order-update #main #content .order-form .field-order-id_distribution {
  margin-bottom: 0px;
}
/* line 126, ../sass/order/_form.scss */
.order-create #main #content .order-form .field-order-id_distribution label,
.order-update #main #content .order-form .field-order-id_distribution label {
  margin-bottom: 0px;
}
/* line 130, ../sass/order/_form.scss */
.order-create #main #content .order-form .field-order-id_distribution .help-block,
.order-update #main #content .order-form .field-order-id_distribution .help-block {
  margin-bottom: 0px;
}
/* line 135, ../sass/order/_form.scss */
.order-create #main #content .order-form .field-order-id_point_sale,
.order-update #main #content .order-form .field-order-id_point_sale {
  display: none;
}
/* line 139, ../sass/order/_form.scss */
.order-create #main #content .order-form .blocks,
.order-update #main #content .order-form .blocks {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
/* line 144, ../sass/order/_form.scss */
.order-create #main #content .order-form .blocks .block,
.order-update #main #content .order-form .blocks .block {
  text-decoration: none;
  width: 268px;
  height: 130px;
  float: left;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 8px;
  cursor: pointer;
  float: left;
  background-color: #f9f9f9;
  background-color: white;
  border: 1px solid #d8d8d8;
}
/* line 159, ../sass/order/_form.scss */
.order-create #main #content .order-form .blocks .block .name,
.order-update #main #content .order-form .blocks .block .name {
  font-family: "comfortaalight";
  font-size: 20px;
  padding-bottom: 10px;
}
/* line 165, ../sass/order/_form.scss */
.order-create #main #content .order-form .blocks .block .address,
.order-update #main #content .order-form .blocks .block .address {
  color: gray;
  font-size: 15px;
  line-height: 20px;
}
/* line 171, ../sass/order/_form.scss */
.order-create #main #content .order-form .blocks .block.selected,
.order-update #main #content .order-form .blocks .block.selected {
  border-left: solid 5px #FF7F00;
}
/* line 173, ../sass/order/_form.scss */
.order-create #main #content .order-form .blocks .block.selected .contenu,
.order-update #main #content .order-form .blocks .block.selected .contenu {
  position: relative;
  left: -4px;
}
/* line 179, ../sass/order/_form.scss */
.order-create #main #content .order-form .blocks .block:hover,
.order-update #main #content .order-form .blocks .block:hover {
  -moz-box-shadow: 0px 0px 5px #d8d8d8;
  -webkit-box-shadow: 0px 0px 5px #d8d8d8;
  box-shadow: 0px 0px 5px #d8d8d8;
}
/* line 183, ../sass/order/_form.scss */
.order-create #main #content .order-form .blocks .block.disabled,
.order-update #main #content .order-form .blocks .block.disabled {
  display: none;
}
/* line 187, ../sass/order/_form.scss */
.order-create #main #content .order-form .blocks .block .comment,
.order-update #main #content .order-form .blocks .block .comment {
  margin-top: 5px;
}
/* line 189, ../sass/order/_form.scss */
.order-create #main #content .order-form .blocks .block .comment span,
.order-update #main #content .order-form .blocks .block .comment span {
  background-color: #FF7F00;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 3px 10px;
}
/* line 200, ../sass/order/_form.scss */
.order-create #main #content .order-form .infos-points-sale,
.order-update #main #content .order-form .infos-points-sale {
  display: none;
  margin-top: 15px;
}
/* line 204, ../sass/order/_form.scss */
.order-create #main #content .order-form .infos-points-sale h4,
.order-update #main #content .order-form .infos-points-sale h4 {
  margin-top: 0px;
  padding-top: 0px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "myriadpro-semibold";
}
/* line 212, ../sass/order/_form.scss */
.order-create #main #content .order-form .infos-points-sale h4 span,
.order-update #main #content .order-form .infos-points-sale h4 span {
  font-family: "myriadpro-regular";
  text-transform: none;
}
/* line 218, ../sass/order/_form.scss */
.order-create #main #content .order-form .infos-points-sale a,
.order-update #main #content .order-form .infos-points-sale a {
  text-decoration: underline;
}
/* line 223, ../sass/order/_form.scss */
.order-create #main #content .order-form #products,
.order-update #main #content .order-form #products {
  margin-top: 15px;
}
/* line 226, ../sass/order/_form.scss */
.order-create #main #content .order-form #products .alert.unavailable,
.order-update #main #content .order-form #products .alert.unavailable {
  display: none;
}
/* line 230, ../sass/order/_form.scss */
.order-create #main #content .order-form #products #label-products,
.order-update #main #content .order-form #products #label-products {
  display: block;
  margin-bottom: 5px;
}
/* line 235, ../sass/order/_form.scss */
.order-create #main #content .order-form #products .table,
.order-update #main #content .order-form #products .table {
  margin-top: 7px;
}
/* line 238, ../sass/order/_form.scss */
.order-create #main #content .order-form #products .table .photo,
.order-update #main #content .order-form #products .table .photo {
  padding: 0px;
  width: 120px;
}
/* line 243, ../sass/order/_form.scss */
.order-create #main #content .order-form #products .table .th-photo, .order-create #main #content .order-form #products .table .td-photo,
.order-update #main #content .order-form #products .table .th-photo,
.order-update #main #content .order-form #products .table .td-photo {
  width: 120px;
}
/* line 247, ../sass/order/_form.scss */
.order-create #main #content .order-form #products .table .name,
.order-update #main #content .order-form #products .table .name {
  font-family: "comfortaalight";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}
/* line 254, ../sass/order/_form.scss */
.order-create #main #content .order-form #products .table .description,
.order-update #main #content .order-form #products .table .description {
  font-style: italic;
}
/* line 258, ../sass/order/_form.scss */
.order-create #main #content .order-form #products .table .recipe,
.order-update #main #content .order-form #products .table .recipe {
  font-size: 12px;
}
/* line 262, ../sass/order/_form.scss */
.order-create #main #content .order-form #products .table .input-group,
.order-update #main #content .order-form #products .table .input-group {
  width: 133px;
}
/* line 264, ../sass/order/_form.scss */
.order-create #main #content .order-form #products .table .input-group .quantity,
.order-update #main #content .order-form #products .table .input-group .quantity {
  text-align: center;
}
/* line 269, ../sass/order/_form.scss */
.order-create #main #content .order-form #products .table .column-quantity, .order-create #main #content .order-form #products .table .price-unit, .order-create #main #content .order-form #products .table .total,
.order-update #main #content .order-form #products .table .column-quantity,
.order-update #main #content .order-form #products .table .price-unit,
.order-update #main #content .order-form #products .table .total {
  width: 150px;
  text-align: center;
}
/* line 274, ../sass/order/_form.scss */
.order-create #main #content .order-form #products .table td#total-order, .order-create #main #content .order-form #products .table td#total-order-vrac, .order-create #main #content .order-form #products .table td.total,
.order-update #main #content .order-form #products .table td#total-order,
.order-update #main #content .order-form #products .table td#total-order-vrac,
.order-update #main #content .order-form #products .table td.total {
  text-align: center;
}
/* line 278, ../sass/order/_form.scss */
.order-create #main #content .order-form #products .table .unavailable,
.order-update #main #content .order-form #products .table .unavailable {
  display: none;
  text-transform: uppercase;
  color: #B32815;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
/* line 287, ../sass/order/_form.scss */
.order-create #main #content .order-form #products .table .quantity-remaining,
.order-update #main #content .order-form #products .table .quantity-remaining {
  font-size: 12px;
  margin-top: 8px;
}
/* line 291, ../sass/order/_form.scss */
.order-create #main #content .order-form #products .table .quantity-remaining .nb,
.order-update #main #content .order-form #products .table .quantity-remaining .nb {
  font-weight: bold;
}
/* line 296, ../sass/order/_form.scss */
.order-create #main #content .order-form #products .table td.product, .order-create #main #content .order-form #products .table th.product,
.order-update #main #content .order-form #products .table td.product,
.order-update #main #content .order-form #products .table th.product {
  width: 70%;
}
/* line 300, ../sass/order/_form.scss */
.order-create #main #content .order-form #products .table td.price-unit, .order-create #main #content .order-form #products .table th.price-unit,
.order-update #main #content .order-form #products .table td.price-unit,
.order-update #main #content .order-form #products .table th.price-unit {
  width: 10%;
}
/* line 304, ../sass/order/_form.scss */
.order-create #main #content .order-form #products .table td.column-quantity, .order-create #main #content .order-form #products .table th.column-quantity,
.order-update #main #content .order-form #products .table td.column-quantity,
.order-update #main #content .order-form #products .table th.column-quantity {
  width: 10%;
}
/* line 308, ../sass/order/_form.scss */
.order-create #main #content .order-form #products .table td.total, .order-create #main #content .order-form #products .table th.total,
.order-update #main #content .order-form #products .table td.total,
.order-update #main #content .order-form #products .table th.total {
  width: 10%;
}
/* line 314, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed,
.order-update #main #content .order-form #bar-fixed {
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  background-color: white;
  padding: 15px;
  margin-bottom: 0px;
  -moz-box-shadow: 0 0 5px gray;
  -webkit-box-shadow: 0 0 5px gray;
  box-shadow: 0 0 5px gray;
  border-top: solid 1px #e0e0e0;
  background-color: #F9F9F9;
  background-color: white;
  text-align: center;
}
/* line 330, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed .container,
.order-update #main #content .order-form #bar-fixed .container {
  min-height: auto;
  background: none;
  border: 0px none;
}
/* line 336, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed.not-fixed,
.order-update #main #content .order-form #bar-fixed.not-fixed {
  position: relative;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: solid 1px #e0e0e0;
  padding-right: 20px;
}
/* line 343, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed.not-fixed .container,
.order-update #main #content .order-form #bar-fixed.not-fixed .container {
  width: auto;
}
/* line 349, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed.no-credit #bloc-valider-commande,
.order-update #main #content .order-form #bar-fixed.no-credit #bloc-valider-commande {
  margin-top: 0px;
  float: right;
}
/* line 355, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed #total-order-bottom,
.order-update #main #content .order-form #bar-fixed #total-order-bottom {
  background-color: white;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 5px 25px;
  border: solid 1px #e0e0e0;
}
/* line 362, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed .btn-comment,
.order-update #main #content .order-form #bar-fixed .btn-comment {
  float: left;
}
/* line 370, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed .btn-comment,
.order-update #main #content .order-form #bar-fixed .btn-comment {
  margin-right: 10px;
}
/* line 374, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed #block-confirm-order,
.order-update #main #content .order-form #bar-fixed #block-confirm-order {
  text-align: right;
  margin-top: 20px;
}
/* line 378, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed #block-confirm-order button,
.order-update #main #content .order-form #bar-fixed #block-confirm-order button {
  width: 340px;
  margin-right: 10px;
}
/* line 384, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed #checkbox-credit,
.order-update #main #content .order-form #bar-fixed #checkbox-credit {
  float: right;
  width: 340px;
  padding: 3px 11px;
  background-color: white;
  border: solid 1px #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-right: 10px;
  text-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 395, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed #checkbox-credit.payment-impossible,
.order-update #main #content .order-form #bar-fixed #checkbox-credit.payment-impossible {
  background-color: #e0e0e0;
}
/* line 399, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed #checkbox-credit .info,
.order-update #main #content .order-form #bar-fixed #checkbox-credit .info {
  color: gray;
  font-weight: normal;
}
/* line 404, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed #checkbox-credit .the-credit,
.order-update #main #content .order-form #bar-fixed #checkbox-credit .the-credit {
  background-color: #FF7F00;
  color: white;
  padding: 2px 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 411, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed #checkbox-credit .amount-paid,
.order-update #main #content .order-form #bar-fixed #checkbox-credit .amount-paid {
  color: #FF7F00;
}
/* line 415, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed #checkbox-credit #info-credit-empty,
.order-update #main #content .order-form #bar-fixed #checkbox-credit #info-credit-empty {
  font-size: 12px;
}
/* line 419, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed #checkbox-credit #credit-disabled,
.order-update #main #content .order-form #bar-fixed #checkbox-credit #credit-disabled {
  display: none;
  font-size: 12px;
}
/* line 425, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed .btn-back, .order-create #main #content .order-form #bar-fixed .cancel-order,
.order-update #main #content .order-form #bar-fixed .btn-back,
.order-update #main #content .order-form #bar-fixed .cancel-order {
  float: left;
  margin-right: 5px;
}
/* line 430, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed .cancel-order,
.order-update #main #content .order-form #bar-fixed .cancel-order {
  color: #b92c28;
  background-color: white;
}
/* line 435, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed #total-order-bottom,
.order-update #main #content .order-form #bar-fixed #total-order-bottom {
  display: none;
  font-weight: bold;
  font-family: "comfortaalight";
  font-size: 24px;
}
/* line 442, ../sass/order/_form.scss */
.order-create #main #content .order-form #bar-fixed .field-order-comment,
.order-update #main #content .order-form #bar-fixed .field-order-comment {
  display: none;
}
/* line 450, ../sass/order/_form.scss */
.order-create .ui-datepicker .ui-widget-header,
.order-update .ui-datepicker .ui-widget-header {
  background: none;
  background-color: gray;
  border: 0px none;
  color: black;
  font-weight: normal;
}
/* line 458, ../sass/order/_form.scss */
.order-create .ui-datepicker .ui-datepicker-current-day a,
.order-create .ui-datepicker a.ui-state-hover,
.order-update .ui-datepicker .ui-datepicker-current-day a,
.order-update .ui-datepicker a.ui-state-hover {
  background: none;
  background-color: gray;
  border-color: black;
  color: black;
}

/** 
Copyright distrib (2018) 

contact@opendistrib.net

Ce logiciel est un programme informatique servant à aider les producteurs 
à distribuer leur production en circuits courts. 

Ce logiciel est régi par la licence CeCILL soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme,  le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard  l'attention de l'utilisateur est attirée sur les risques
associés au chargement,  à l'utilisation,  à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant  des  connaissances  informatiques approfondies.  Les
utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL, et que vous en avez accepté les
termes.
*/
/* line 40, ../sass/order/_history.scss */
.order-history #list-producers {
  display: none;
}
/* line 44, ../sass/order/_history.scss */
.order-history #tabs-orders-history {
  margin-bottom: 20px;
}
/* line 48, ../sass/order/_history.scss */
.order-history #tabs-orders-history li a {
  color: #FF7F00;
}
/* line 52, ../sass/order/_history.scss */
.order-history #tabs-orders-history li.active a {
  color: #333;
}
/* line 59, ../sass/order/_history.scss */
.order-history table .locality {
  color: gray;
}

/* line 3, ../sass/order/_order.scss */
.order-order #main #app-order-order {
  display: none;
}
/* line 6, ../sass/order/_order.scss */
.order-order #main #app-order-order h3 {
  font-family: "highvoltageregular";
}
/* line 10, ../sass/order/_order.scss */
.order-order #main #app-order-order.loaded {
  display: block;
}
/* line 14, ../sass/order/_order.scss */
.order-order #main #app-order-order #distribution-date, .order-order #main #app-order-order #order-distribution-date {
  display: none;
}
/* line 18, ../sass/order/_order.scss */
.order-order #main #app-order-order .slide-enter-active {
  transition: all .2s ease;
}
/* line 22, ../sass/order/_order.scss */
.order-order #main #app-order-order .slide-leave-active {
  transition: all 0s ease;
}
/* line 25, ../sass/order/_order.scss */
.order-order #main #app-order-order .slide-enter, .order-order #main #app-order-order .slide-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
/* line 30, ../sass/order/_order.scss */
.order-order #main #app-order-order #steps {
  margin-bottom: 20px;
}
/* line 32, ../sass/order/_order.scss */
.order-order #main #app-order-order #steps ul {
  height: 70px;
}
/* line 35, ../sass/order/_order.scss */
.order-order #main #app-order-order #steps ul li {
  text-align: center;
  padding-right: 8px;
  padding-left: 8px;
  position: relative;
}
/* line 41, ../sass/order/_order.scss */
.order-order #main #app-order-order #steps ul li .info-step {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 100%;
  text-transform: normal;
  color: #FF7F00;
  font-family: "capsuularegular";
  font-size: 17px;
  font-weight: bold;
}
/* line 53, ../sass/order/_order.scss */
.order-order #main #app-order-order #steps ul li .glyphicon-chevron-right, .order-order #main #app-order-order #steps ul li.active .glyphicon-chevron-right {
  float: right;
  color: gray;
  position: relative;
  top: 10px;
}
/* line 61, ../sass/order/_order.scss */
.order-order #main #app-order-order #steps ul li.first {
  padding-left: 0px;
}
/* line 65, ../sass/order/_order.scss */
.order-order #main #app-order-order #steps ul li#step-payment {
  padding-right: 0px;
}
/* line 69, ../sass/order/_order.scss */
.order-order #main #app-order-order #steps ul li#step-payment .btn::after, .order-order #main #app-order-order #steps ul li.first .btn::before {
  display: none;
}
/* line 74, ../sass/order/_order.scss */
.order-order #main #app-order-order #steps ul li .btn {
  color: #333;
  text-transform: uppercase;
  display: block;
  width: 100%;
  position: relative;
  background-color: #e0e0e0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 0px none;
  text-transform: uppercase;
}
/* line 85, ../sass/order/_order.scss */
.order-order #main #app-order-order #steps ul li .btn .button-content {
  position: relative;
  left: 8px;
}
/* line 90, ../sass/order/_order.scss */
.order-order #main #app-order-order #steps ul li .btn.btn-primary {
  background-color: #FF7F00;
}
/* line 94, ../sass/order/_order.scss */
.order-order #main #app-order-order #steps ul li .btn::after, .order-order #main #app-order-order #steps ul li .btn::before {
  content: "";
  position: absolute;
  top: -1px;
}
/* line 100, ../sass/order/_order.scss */
.order-order #main #app-order-order #steps ul li .btn::after {
  right: -34px;
  border: 17px solid transparent;
  border-left: 17px solid #e0e0e0;
  background-color: transparent;
}
/* line 107, ../sass/order/_order.scss */
.order-order #main #app-order-order #steps ul li .btn::before {
  left: 0px;
  border: 17px solid transparent;
  border-left: 17px solid white;
  background-color: transparent;
}
/* line 114, ../sass/order/_order.scss */
.order-order #main #app-order-order #steps ul li .btn.btn-primary::after {
  border-left: 17px solid #FF7F00;
}
/* line 128, ../sass/order/_order.scss */
.order-order #main #app-order-order #steps ul li .btn-primary {
  color: white;
}
/* line 136, ../sass/order/_order.scss */
.order-order #main #app-order-order #legend #order-date-color,
.order-order #main #app-order-order #legend #distribution-date-color {
  width: 13px;
  height: 13px;
  display: inline-block;
}
/* line 143, ../sass/order/_order.scss */
.order-order #main #app-order-order #legend #order-date-color {
  background-color: #FF7F00;
}
/* line 146, ../sass/order/_order.scss */
.order-order #main #app-order-order #legend #distribution-date-color {
  background-color: #5cb85c;
}
/* line 151, ../sass/order/_order.scss */
.order-order #main #app-order-order #calendar {
  margin-bottom: 15px;
}
/* line 153, ../sass/order/_order.scss */
.order-order #main #app-order-order #calendar .c-header .c-title-layout .c-title-popover .c-title-anchor .c-title[data-v-2083cb72] {
  font-size: 2rem;
}
/* line 156, ../sass/order/_order.scss */
.order-order #main #app-order-order #calendar .c-day-background {
  padding: 20px;
}
/* line 161, ../sass/order/_order.scss */
.order-order #main #app-order-order #calendar .c-day:hover .c-day-background {
  background-color: #FF7F00 !important;
  color: white !important;
}
/* line 167, ../sass/order/_order.scss */
.order-order #main #app-order-order #calendar .c-day-popover-content {
  font-size: 1.3rem;
}
/* line 175, ../sass/order/_order.scss */
.order-order #main #app-order-order #content-step-date #distributions-list .panel .btn-primary {
  float: right;
}
/* line 179, ../sass/order/_order.scss */
.order-order #main #app-order-order #content-step-date #distributions-list .panel .date {
  font-size: 20px;
}
/* line 183, ../sass/order/_order.scss */
.order-order #main #app-order-order #content-step-date #distributions-list .panel .point-sales {
  color: gray;
  font-size: 14px;
  margin-top: 8px;
}
/* line 192, ../sass/order/_order.scss */
.order-order #main #app-order-order .block-actions {
  text-align: right;
  margin-top: 20px;
}
/* line 199, ../sass/order/_order.scss */
.order-order #main #app-order-order table#points-sale td.name .the-name {
  font-family: "capsuularegular";
  color: black;
  font-size: 20px;
  line-height: 25px;
}
/* line 207, ../sass/order/_order.scss */
.order-order #main #app-order-order table#points-sale td.actions {
  width: 150px;
}
/* line 209, ../sass/order/_order.scss */
.order-order #main #app-order-order table#points-sale td.actions button {
  width: 100%;
}
/* line 215, ../sass/order/_order.scss */
.order-order #main #app-order-order table#points-sale tr.selected td {
  background-color: white;
}
/* line 223, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products td.category-name {
  font-family: "highvoltageregular";
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 13px;
}
/* line 230, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products td.category-name .glyphicon-triangle-bottom,
.order-order #main #app-order-order table#products td.category-name .glyphicon-triangle-right {
  font-size: 15px;
}
/* line 235, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products td.category-name span.label {
  font-family: "Arial";
  font-weight: normal;
  float: right;
  text-transform: none;
  margin-left: 15px;
}
/* line 244, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products td.category-name:hover {
  cursor: pointer;
  background-color: #FF7F00;
  color: white;
}
/* line 252, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products td.photo img {
  width: 100px;
}
/* line 258, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products td.name .name {
  font-family: "capsuularegular";
  color: black;
  font-size: 20px;
  line-height: 25px;
}
/* line 264, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products td.name .other {
  font-size: 14px;
  color: #333;
}
/* line 268, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products td.name .recipe {
  color: gray;
}
/* line 272, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products .price-unit, .order-order #main #app-order-order table#products .price-total {
  width: 100px;
  text-align: center;
}
/* line 276, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products .price-unit .unit, .order-order #main #app-order-order table#products .price-total .unit {
  color: gray;
  font-size: 13px;
}
/* line 281, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products .td-quantity {
  width: 175px;
}
/* line 283, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products .td-quantity input.quantity {
  text-align: center;
  border-right: 0px none;
}
/* line 287, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products .td-quantity .input-group-addon {
  padding: 5px;
  padding-left: 0px;
  margin: 0px;
  border-left: 0px none;
  border-right: 0px none;
}
/* line 298, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products tr.total .summary h3 {
  margin-top: 0px;
  font-family: "capsuularegular";
  text-transform: none;
  margin-bottom: 5px;
}
/* line 305, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products tr.total .summary ul {
  margin-bottom: 15px;
  padding-left: 20px;
  font-size: 23px;
}
/* line 312, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products tr.total .summary ul li .quantity {
  font-size: 18px;
}
/* line 316, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products tr.total .summary ul li .name {
  font-family: "capsuularegular";
  font-size: 24px;
}
/* line 320, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products tr.total .summary ul li .other {
  font-family: "arial";
  font-size: 14px;
}
/* line 327, ../sass/order/_order.scss */
.order-order #main #app-order-order table#products tr.total .price-total {
  font-size: 23px;
}
/* line 335, ../sass/order/_order.scss */
.order-order #main #app-order-order #content-step-payment .delivery {
  margin-bottom: 20px;
}
/* line 338, ../sass/order/_order.scss */
.order-order #main #app-order-order #content-step-payment .delivery .delivery-home {
  margin-bottom: 20px;
}
/* line 347, ../sass/order/_order.scss */
.order-order #main #app-order-order #content-step-payment .comment {
  margin-bottom: 20px;
}
/* line 352, ../sass/order/_order.scss */
.order-order #main #app-order-order #content-step-payment .credit .info {
  margin-left: 20px;
  color: gray;
}
/* line 365, ../sass/order/_order.scss */
.order-order #main #app-order-order #infos {
  margin-top: 30px;
}
/* line 367, ../sass/order/_order.scss */
.order-order #main #app-order-order #infos .panel-body {
  padding-top: 0px;
  white-space: pre-line;
}

/* line 377, ../sass/order/_order.scss */
#main #content .panel h3 {
  font-family: "highvoltageregular";
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 4px;
  font-size: 20px;
}

/* line 5, ../sass/order/_confirm.scss */
.order-confirm #main #order-success .alert.alert-success .glyphicon-big {
  background-color: #00A65A;
}
/* line 11, ../sass/order/_confirm.scss */
.order-confirm #main #order-success .alert.alert-info .glyphicon-big {
  background-color: #0097BC;
  padding: 55px 30px;
}
/* line 17, ../sass/order/_confirm.scss */
.order-confirm #main #order-success .alert.alert-info .content .glyphicon {
  margin-right: 5px;
}
/* line 25, ../sass/order/_confirm.scss */
.order-confirm #main #order-success .alert-order-summary ul li {
  margin-bottom: 10px;
}
/* line 31, ../sass/order/_confirm.scss */
.order-confirm #main #order-success .alert {
  padding: 0px;
}
/* line 34, ../sass/order/_confirm.scss */
.order-confirm #main #order-success .alert strong {
  font-weight: bold;
}
/* line 38, ../sass/order/_confirm.scss */
.order-confirm #main #order-success .alert .glyphicon-big {
  font-size: 90px;
  color: white;
  padding: 30px;
  float: left;
}
/* line 45, ../sass/order/_confirm.scss */
.order-confirm #main #order-success .alert div.content {
  color: #333;
  padding: 20px;
  margin-left: 151px;
}
/* line 50, ../sass/order/_confirm.scss */
.order-confirm #main #order-success .alert div.content h3 {
  font-family: "capsuularegular";
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 0px;
  text-align: left;
  padding-left: 0px;
  line-height: 35px;
  text-transform: none;
}
/* line 63, ../sass/order/_confirm.scss */
.order-confirm #main #order-success .alert div.content .locality {
  color: gray;
}

/* line 3, ../sass/credit/_add.scss */
.credit-add .form {
  max-width: 250px;
  margin: 0px auto;
  text-align: center;
}
/* line 8, ../sass/credit/_add.scss */
.credit-add .form label {
  margin-bottom: 15px;
  color: gray;
}

/* line 4, ../sass/subscription/_form.scss */
.subscription-create .subscription-form,
.subscription-update .subscription-form {
  display: none;
}
/* line 8, ../sass/subscription/_form.scss */
.subscription-create .subscription-form.loaded,
.subscription-update .subscription-form.loaded {
  display: block;
}
/* line 13, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .points-sale .locality,
.subscription-update .subscription-form .points-sale .locality {
  color: gray;
}
/* line 16, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .points-sale label,
.subscription-update .subscription-form .points-sale label {
  cursor: pointer;
}
/* line 22, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .days .form-group,
.subscription-update .subscription-form .days .form-group {
  float: left;
  margin-right: 15px;
}
/* line 31, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .points-sale table tr.selected td,
.subscription-update .subscription-form .points-sale table tr.selected td {
  background-color: white;
}
/* line 36, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .points-sale table .the-name,
.subscription-update .subscription-form .points-sale table .the-name {
  font-family: "capsuularegular";
  font-size: 20px;
  color: black;
}
/* line 42, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .points-sale table .block-code,
.subscription-update .subscription-form .points-sale table .block-code {
  width: 150px;
}
/* line 46, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .points-sale table .actions,
.subscription-update .subscription-form .points-sale table .actions {
  width: 150px;
}
/* line 49, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .points-sale table .actions button,
.subscription-update .subscription-form .points-sale table .actions button {
  width: 100%;
  display: block;
}
/* line 57, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .comment-textarea,
.subscription-update .subscription-form .comment-textarea {
  width: 100%;
  height: 100px;
}
/* line 63, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .products .monday, .subscription-create .subscription-form .products .tuesday, .subscription-create .subscription-form .products .wednesday, .subscription-create .subscription-form .products .thursday,
.subscription-create .subscription-form .products .friday, .subscription-create .subscription-form .products .saturday, .subscription-create .subscription-form .products .sunday, .subscription-create .subscription-form .products .no-day,
.subscription-update .subscription-form .products .monday,
.subscription-update .subscription-form .products .tuesday,
.subscription-update .subscription-form .products .wednesday,
.subscription-update .subscription-form .products .thursday,
.subscription-update .subscription-form .products .friday,
.subscription-update .subscription-form .products .saturday,
.subscription-update .subscription-form .products .sunday,
.subscription-update .subscription-form .products .no-day {
  display: none;
}
/* line 68, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .products .monday-active .monday,
.subscription-create .subscription-form .products .tuesday-active .tuesday,
.subscription-create .subscription-form .products .wednesday-active .wednesday,
.subscription-create .subscription-form .products .thursday-active .thursday,
.subscription-create .subscription-form .products .friday-active .friday,
.subscription-create .subscription-form .products .saturday-active .saturday,
.subscription-create .subscription-form .products .sunday-active .sunday,
.subscription-update .subscription-form .products .monday-active .monday,
.subscription-update .subscription-form .products .tuesday-active .tuesday,
.subscription-update .subscription-form .products .wednesday-active .wednesday,
.subscription-update .subscription-form .products .thursday-active .thursday,
.subscription-update .subscription-form .products .friday-active .friday,
.subscription-update .subscription-form .products .saturday-active .saturday,
.subscription-update .subscription-form .products .sunday-active .sunday {
  display: block;
}
/* line 78, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .products td.quantity,
.subscription-update .subscription-form .products td.quantity {
  width: 180px;
}
/* line 81, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .products td.quantity input,
.subscription-update .subscription-form .products td.quantity input {
  text-align: center;
  border-right: 0px none;
}
/* line 84, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .products td.quantity input.has-quantity,
.subscription-update .subscription-form .products td.quantity input.has-quantity {
  font-weight: bold;
}
/* line 89, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .products td.quantity .input-group-addon,
.subscription-update .subscription-form .products td.quantity .input-group-addon {
  background-color: white;
  padding-left: 0px;
  border-left: 0px none;
}
/* line 96, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .products .name,
.subscription-update .subscription-form .products .name {
  font-family: "capsuularegular";
  font-size: 20px;
  color: black;
}
/* line 102, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .products .description,
.subscription-update .subscription-form .products .description {
  font-style: italic;
}
/* line 106, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .products .recipe,
.subscription-update .subscription-form .products .recipe {
  font-size: 12px;
}
/* line 110, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .products .price-unit, .subscription-create .subscription-form .products .price-total,
.subscription-update .subscription-form .products .price-unit,
.subscription-update .subscription-form .products .price-total {
  text-align: center;
  width: 150px;
}
/* line 115, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .products .unit,
.subscription-update .subscription-form .products .unit {
  color: gray;
  font-size: 13px;
}
/* line 120, ../sass/subscription/_form.scss */
.subscription-create .subscription-form .products tr.total .price-total,
.subscription-update .subscription-form .products tr.total .price-total {
  text-align: center;
  font-size: 20px;
}

/** 
Copyright distrib (2018) 

contact@opendistrib.net

Ce logiciel est un programme informatique servant à aider les producteurs 
à distribuer leur production en circuits courts. 

Ce logiciel est régi par la licence CeCILL soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme,  le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard  l'attention de l'utilisateur est attirée sur les risques
associés au chargement,  à l'utilisation,  à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant  des  connaissances  informatiques approfondies.  Les
utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL, et que vous en avez accepté les
termes.
*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* line 39, ../sass/_responsive.scss */
  #left .fixed {
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  /* line 47, ../sass/_responsive.scss */
  #header-bap {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    padding: 0px;
  }
  /* line 56, ../sass/_responsive.scss */
  #header-bap #logo {
    margin-left: 10px;
  }

  /* line 62, ../sass/_responsive.scss */
  #left .fixed {
    position: relative;
  }

  /* line 69, ../sass/_responsive.scss */
  #main #img-big {
    display: none;
  }
  /* line 75, ../sass/_responsive.scss */
  #main nav#main-nav ul li {
    display: block;
    float: none;
  }
  /* line 79, ../sass/_responsive.scss */
  #main nav#main-nav ul li.active a {
    border-bottom: solid 1px white;
    background-color: #FF7F00;
    color: white;
  }
  /* line 84, ../sass/_responsive.scss */
  #main nav#main-nav ul li.active a:hover {
    background-color: #FF7F00;
    color: white;
  }
  /* line 90, ../sass/_responsive.scss */
  #main nav#main-nav ul li a {
    display: block;
    border-bottom: solid 1px #e0e0e0;
  }
  /* line 94, ../sass/_responsive.scss */
  #main nav#main-nav ul li a:hover {
    background-color: white;
    color: #FF7F00;
  }
  /* line 101, ../sass/_responsive.scss */
  #main nav#main-nav ul li#btn-administration {
    float: none;
  }
  /* line 103, ../sass/_responsive.scss */
  #main nav#main-nav ul li#btn-administration a:hover {
    background-color: white;
    color: #FF7F00;
  }
  /* line 111, ../sass/_responsive.scss */
  #main h2#page-title {
    text-align: center;
  }
  /* line 117, ../sass/_responsive.scss */
  #main #products td {
    padding: 3px;
  }
  /* line 121, ../sass/_responsive.scss */
  #main #products .td-photo, #main #products .th-photo {
    display: none;
  }
  /* line 125, ../sass/_responsive.scss */
  #main #products .product {
    font-size: 12px;
  }
  /* line 127, ../sass/_responsive.scss */
  #main #products .product .nom {
    font-size: 15px;
  }
  /* line 134, ../sass/_responsive.scss */
  #main #bar-fixed {
    position: relative;
  }
  /* line 136, ../sass/_responsive.scss */
  #main #bar-fixed .btn-comment {
    float: none;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  /* line 146, ../sass/_responsive.scss */
  .order-create #main #content .order-form #products .table .input-group,
  .order-update #main #content .order-form #products .table .input-group {
    width: 60px;
  }
  /* line 150, ../sass/_responsive.scss */
  .order-create #main #content .order-form #products .table .input-group .form-control,
  .order-update #main #content .order-form #products .table .input-group .form-control {
    width: 20px;
    padding: 3px;
  }

  /* line 156, ../sass/_responsive.scss */
  .order-create #main #content .order-form #bar-fixed #checkbox-credit,
  .order-update #main #content .order-form #bar-fixed #checkbox-credit {
    width: 100%;
    margin: 0px;
    padding: 5px 0px;
  }
  /* line 162, ../sass/_responsive.scss */
  .order-create #main #content .order-form #bar-fixed #checkbox-credit .the-credit,
  .order-update #main #content .order-form #bar-fixed #checkbox-credit .the-credit {
    word-break: break-all;
  }

  /* line 167, ../sass/_responsive.scss */
  .order-create #main #content .order-form #bar-fixed #block-confirm-order button,
  .order-update #main #content .order-form #bar-fixed #block-confirm-order button {
    width: 100%;
  }

  /* line 175, ../sass/_responsive.scss */
  .order-order #app-order-order h3 {
    line-height: 28px;
  }
  /* line 181, ../sass/_responsive.scss */
  .order-order #app-order-order #distributions-list .panel .btn-primary {
    display: block;
    float: none !important;
    margin-bottom: 10px;
  }
  /* line 190, ../sass/_responsive.scss */
  .order-order #app-order-order #steps ul {
    height: auto !important;
  }
  /* line 192, ../sass/_responsive.scss */
  .order-order #app-order-order #steps ul li {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  /* line 196, ../sass/_responsive.scss */
  .order-order #app-order-order #steps ul li .info-step {
    display: none;
  }
  /* line 200, ../sass/_responsive.scss */
  .order-order #app-order-order #steps ul li .btn::after,
  .order-order #app-order-order #steps ul li .btn::before {
    display: none;
  }
  /* line 211, ../sass/_responsive.scss */
  .order-order #app-order-order table#products td.name .recipe {
    display: none;
  }
  /* line 217, ../sass/_responsive.scss */
  .order-order #app-order-order table#products td.td-quantity .input-group-btn {
    width: 100%;
    display: block;
  }
  /* line 221, ../sass/_responsive.scss */
  .order-order #app-order-order table#products td.td-quantity .input-group-btn button {
    width: 100%;
    display: block;
  }
  /* line 231, ../sass/_responsive.scss */
  .order-order #app-order-order #order-success .alert .glyphicon-big {
    font-size: 90px;
    color: white;
    padding: 30px;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  /* line 240, ../sass/_responsive.scss */
  .order-order #app-order-order #order-success .alert div.content {
    margin-left: 0px;
    text-align: center;
  }

  /* line 251, ../sass/_responsive.scss */
  #footer .content {
    text-align: center;
  }
}
