
#app-alerts {
        position: fixed ;
        bottom: 30px ;
        right: 15px ;
        width: 300px ;
        height: auto ;

        .slide-fade-enter-active {
                @include transition(all .3s ease);
        }
        .slide-fade-leave-active {
                @include transition(all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0));
        }
        .slide-fade-enter, .slide-fade-leave-to {
                @include transform(translateX(10px));
                opacity: 0;
        }
}

