
.block-date {
    margin: 0px auto ;
    padding-top: 0px ; 
    text-align: center ;
    
    .day {
        text-transform: capitalize ;
        line-height: 15px ;
        font-size: 13px ;
        text-transform: uppercase ;
    }

    .num {
        font-size: 30px ;
        line-height: 35px ;
        font-weight: bold ;
    }

    .month {
        text-transform: uppercase ;
        line-height: 15px ;
        font-size: 13px ;
        color: darken($color1, 5) ;
    }
}

#footer {
    #code-source,
    #social-mastodon,
    #social-diaspora {
        img {
            height: 20px ;
        }
    }
}
