
.site-index {
    #distributions {
        .info-box {
            border: solid 1px #e0e0e0 ;
            .date {
                text-transform: uppercase ;
                font-size: 12px ;
                line-height: 20px ;
                padding-top: 10px ;
                
                span {
                    display: block ;
                }
                .day {
                    
                }
                .num {
                    font-size: 30px ;
                    padding-top: 5px ;
                    padding-bottom: 5px ;
                }
                .month {
                    
                }
            }
            
        }
        .info-box-content {
            .buttons {
                margin-top: 10px ;
            }
        }
    }
}