
$font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif ;
$border-color: #c0c0c0 ;

body {
        padding-bottom: 200px ;
}

.document-download {
        font-family: $font-family ;

        #block-addresses {

                .producer {

                        text-align: left ;
                        margin-bottom: 20px ;

                        .logo {
                                margin-bottom: 20px ;

                        }
                        .address {

                        }
                }
                .user {
                        text-align: right ;
                }
        }

        #block-infos-document {
                padding-top: 30px ;

                .date {
                        padding-bottom: 10px ;
                }
                .reference {
                        padding-bottom: 10px ;
                        font-size: 15px ;
                        font-weight: bold ;

                        .block-is-draft {
                                border: solid 2px black ;
                                padding: 10px ;
                                text-transform: uppercase ;
                        }
                }
                .name {

                }
        }

        #block-no-product {
                font-weight: bold ;
                border: solid 2px black ;
                text-transform: uppercase ;
                padding: 10px ;
        }

        #block-products {
                padding-top: 20px ;

                table {
                        width: 100% ;
                        padding: 0px ;
                        margin: 0px ;
                        border-bottom: solid 1px $border-color ;
                        border-right: solid 1px $border-color ;
                        border-collapse: collapse ;

                        td, th {
                                padding: 5px ;
                                border-top: solid 1px $border-color ;
                                border-left: solid 1px $border-color ;
                                font-family: $font-family ;

                                &.align-left {
                                        text-align: left ;
                                }
                                &.align-center {
                                        text-align: center ;
                                }
                                &.align-right {
                                        text-align: right ;
                                }
                        }
                }
        }

        .block-infos {
                margin-top: 20px ;
                padding: 10px ;
                border: solid 1px $border-color ;

                strong {
                        font-size: 12px ;
                }
        }
}

#footer {
        font-family: $font-family ;
        text-align: center ;
        padding-top: 10px ;
        border-top: solid 1px gray ;

        .infos-bottom {
                padding-bottom: 20px ;
                margin-bottom: 40px ;
                font-size: 12px ;
                line-height: 18px ;
        }
        .reference-document {
                font-weight: bold ;
        }
}