/* line 5, ../../sass/document/download.scss */
body {
  padding-bottom: 200px;
}

/* line 9, ../../sass/document/download.scss */
.document-download {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 14, ../../sass/document/download.scss */
.document-download #block-addresses .producer {
  text-align: left;
  margin-bottom: 20px;
}
/* line 19, ../../sass/document/download.scss */
.document-download #block-addresses .producer .logo {
  margin-bottom: 20px;
}
/* line 27, ../../sass/document/download.scss */
.document-download #block-addresses .user {
  text-align: right;
}
/* line 32, ../../sass/document/download.scss */
.document-download #block-infos-document {
  padding-top: 30px;
}
/* line 35, ../../sass/document/download.scss */
.document-download #block-infos-document .date {
  padding-bottom: 10px;
}
/* line 38, ../../sass/document/download.scss */
.document-download #block-infos-document .reference {
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}
/* line 43, ../../sass/document/download.scss */
.document-download #block-infos-document .reference .block-is-draft {
  border: solid 2px black;
  padding: 10px;
  text-transform: uppercase;
}
/* line 54, ../../sass/document/download.scss */
.document-download #block-no-product {
  font-weight: bold;
  border: solid 2px black;
  text-transform: uppercase;
  padding: 10px;
}
/* line 61, ../../sass/document/download.scss */
.document-download #block-products {
  padding-top: 20px;
}
/* line 64, ../../sass/document/download.scss */
.document-download #block-products table {
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-bottom: solid 1px #c0c0c0;
  border-right: solid 1px #c0c0c0;
  border-collapse: collapse;
}
/* line 72, ../../sass/document/download.scss */
.document-download #block-products table td, .document-download #block-products table th {
  padding: 5px;
  border-top: solid 1px #c0c0c0;
  border-left: solid 1px #c0c0c0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 78, ../../sass/document/download.scss */
.document-download #block-products table td.align-left, .document-download #block-products table th.align-left {
  text-align: left;
}
/* line 81, ../../sass/document/download.scss */
.document-download #block-products table td.align-center, .document-download #block-products table th.align-center {
  text-align: center;
}
/* line 84, ../../sass/document/download.scss */
.document-download #block-products table td.align-right, .document-download #block-products table th.align-right {
  text-align: right;
}
/* line 91, ../../sass/document/download.scss */
.document-download .block-infos {
  margin-top: 20px;
  padding: 10px;
  border: solid 1px #c0c0c0;
}
/* line 96, ../../sass/document/download.scss */
.document-download .block-infos strong {
  font-size: 12px;
}

/* line 102, ../../sass/document/download.scss */
#footer {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding-top: 10px;
  border-top: solid 1px gray;
}
/* line 108, ../../sass/document/download.scss */
#footer .infos-bottom {
  padding-bottom: 20px;
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 18px;
}
/* line 114, ../../sass/document/download.scss */
#footer .reference-document {
  font-weight: bold;
}
