@charset "UTF-8";
/** 
Copyright distrib (2018) 

contact@opendistrib.net

Ce logiciel est un programme informatique servant à aider les producteurs 
à distribuer leur production en circuits courts. 

Ce logiciel est régi par la licence CeCILL soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme,  le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard  l'attention de l'utilisateur est attirée sur les risques
associés au chargement,  à l'utilisation,  à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant  des  connaissances  informatiques approfondies.  Les
utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL, et que vous en avez accepté les
termes.
*/
/** 
Copyright distrib (2018) 

contact@opendistrib.net

Ce logiciel est un programme informatique servant à aider les producteurs 
à distribuer leur production en circuits courts. 

Ce logiciel est régi par la licence CeCILL soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme,  le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard  l'attention de l'utilisateur est attirée sur les risques
associés au chargement,  à l'utilisation,  à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant  des  connaissances  informatiques approfondies.  Les
utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL, et que vous en avez accepté les
termes.
*/
/* line 59, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 63, ../sass/screen.scss */
body {
  position: relative;
  color: #505050;
  font-family: "Arial";
  background-attachment: fixed;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF8DC;
}

/* line 74, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 78, ../sass/screen.scss */
.table {
  background-color: white;
}

/* line 82, ../sass/screen.scss */
#main {
  padding-bottom: 50px;
}
/* line 84, ../sass/screen.scss */
#main a {
  color: #323232;
  text-decoration: underline;
}
/* line 88, ../sass/screen.scss */
#main a:focus, #main a:active {
  outline-color: gray;
  color: #FF7F00;
}
/* line 93, ../sass/screen.scss */
#main a:hover {
  color: #FF7F00;
}
/* line 97, ../sass/screen.scss */
#main a.btn {
  text-decoration: none;
}

/* line 104, ../sass/screen.scss */
#bookmarked-producers .btn-primary, #main .btn-primary {
  background-color: #FF7F00;
  border: solid 1px #FF7F00;
  color: white;
}
/* line 109, ../sass/screen.scss */
#bookmarked-producers .btn-primary:hover, #bookmarked-producers .btn-primary:active, #bookmarked-producers .btn-primary:focus, #main .btn-primary:hover, #main .btn-primary:active, #main .btn-primary:focus {
  background-color: #e67200;
  border: solid 1px #FF7F00;
  color: white;
}

/* line 118, ../sass/screen.scss */
.form-control:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: solid 1px #FF7F00;
}

/* line 123, ../sass/screen.scss */
p {
  padding-bottom: 20px;
  line-height: 21px;
}

/* line 128, ../sass/screen.scss */
ul {
  padding-left: 20px;
  list-style-type: disc;
  margin-bottom: 10px;
}
/* line 133, ../sass/screen.scss */
ul li {
  padding-left: 5px;
}

/* line 138, ../sass/screen.scss */
.clr {
  clear: both;
}

/* line 142, ../sass/screen.scss */
.btn {
  background-image: none;
}

/* line 146, ../sass/screen.scss */
#main .alert {
  background-image: none;
  background-color: white;
  border-bottom-width: 3px;
}

/* line 154, ../sass/screen.scss */
.alert.alert-warning a {
  color: #8a6d3b;
}

/* line 165, ../sass/screen.scss */
#main {
  position: relative;
}
/* line 167, ../sass/screen.scss */
#main .inner {
  width: 960px;
  margin: 0px auto;
}

/* line 175, ../sass/screen.scss */
#content #the-content {
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}
/* line 183, ../sass/screen.scss */
#content .content-text h1 {
  font-family: "highvoltageregular";
  font-size: 30px;
  color: black;
  text-transform: uppercase;
}
/* line 190, ../sass/screen.scss */
#content .content-text h2 {
  font-family: "highvoltageregular";
  font-size: 20px;
  text-transform: none;
  padding-bottom: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* line 201, ../sass/screen.scss */
#block-demo {
  padding: 10px 0px;
  background-color: #FF7F00;
  color: white;
  text-align: center;
}
/* line 207, ../sass/screen.scss */
#block-demo a {
  color: white;
  text-decoration: underline;
}

/* line 213, ../sass/screen.scss */
#header {
  z-index: 100;
  border-bottom: solid 1px #e0e0e0;
  background-color: white;
}
/* line 218, ../sass/screen.scss */
#header .container {
  position: relative;
}
/* line 222, ../sass/screen.scss */
#header #the-header {
  height: 80px;
  height: auto;
}
/* line 227, ../sass/screen.scss */
#header #env-dev {
  font-family: "comfortaabold";
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FF7F00;
  background-color: transparent;
  position: absolute;
  top: 18px;
  left: 79px;
}
/* line 240, ../sass/screen.scss */
#header #link-home {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: block;
}
/* line 249, ../sass/screen.scss */
#header #link-home img {
  height: 50px;
  margin-bottom: 5px;
  float: left;
}
/* line 255, ../sass/screen.scss */
#header #link-home .text {
  float: left;
  padding-left: 10px;
}
/* line 259, ../sass/screen.scss */
#header #link-home .text .bap {
  font-family: "comfortaalight";
  font-size: 24px;
}
/* line 264, ../sass/screen.scss */
#header #link-home .text .plateforme {
  font-size: 17px;
  font-family: "myriadpro-light";
  color: #FF7F00;
}
/* line 272, ../sass/screen.scss */
#header #presentation-distrib {
  display: none;
  float: left;
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
  font-family: "capsuularegular";
  font-size: 18px;
  line-height: 20px;
}
/* line 284, ../sass/screen.scss */
#header #link-space-producer {
  border-left: solid 1px #e0e0e0;
  color: #FF7F00;
}
/* line 289, ../sass/screen.scss */
#header nav {
  padding-top: 0px;
  margin-bottom: 0px;
  border: 0px none;
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 296, ../sass/screen.scss */
#header nav .navbar-toggle {
  background-color: white;
}
/* line 300, ../sass/screen.scss */
#header nav ul {
  float: right;
  padding: 0px;
  margin: 0px;
  margin-top: 18px;
}
/* line 306, ../sass/screen.scss */
#header nav ul li {
  padding: 0px;
  display: block;
}
/* line 309, ../sass/screen.scss */
#header nav ul li a {
  display: block;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 15px;
  margin: 0px;
  font-family: "capsuularegular";
  font-weight: bold;
  color: black;
  font-size: 16px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 322, ../sass/screen.scss */
#header nav ul li a span {
  font-size: 15px;
}
/* line 326, ../sass/screen.scss */
#header nav ul li a:hover {
  color: #FF7F00;
  background-color: white;
}
/* line 337, ../sass/screen.scss */
#header nav ul li.active a {
  background-color: #FF7F00;
  color: white;
}
/* line 346, ../sass/screen.scss */
#header nav ul li ul li a {
  padding: 10px 10px;
}
/* line 359, ../sass/screen.scss */
#header #link-logout .name {
  color: gray;
  font-size: 10px;
  left: 18px;
  position: relative;
  top: -4px;
}

/* line 370, ../sass/screen.scss */
.home #main {
  background: black top center no-repeat url(../img/carottes.jpg);
  background-size: 100% auto;
}

/* line 377, ../sass/screen.scss */
#content {
  position: relative;
  padding: 20px 0px;
  padding-top: 35px;
  padding-bottom: 50px;
}
/* line 383, ../sass/screen.scss */
#content h1#title-site, #content h1 {
  font-family: "highvoltageregular";
  font-size: 35px;
}
/* line 388, ../sass/screen.scss */
#content h2 {
  color: #323232;
  padding-bottom: 15px;
  font-size: 35px;
  line-height: 35px;
  font-family: "highvoltageregular";
  text-transform: uppercase;
  position: relative;
  margin-top: 30px;
}
/* line 399, ../sass/screen.scss */
#content h3 {
  font-family: "highvoltageregular";
  font-size: 20px;
  color: #323232;
}
/* line 405, ../sass/screen.scss */
#content #presentation-distrib {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}
/* line 410, ../sass/screen.scss */
#content #presentation-distrib h1 {
  font-family: "capsuularegular";
  text-align: center;
  margin-top: 15px;
  text-transform: none;
  color: #FF7F00;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
/* line 422, ../sass/screen.scss */
#content #presentation-distrib p {
  color: white;
  font-family: "capsuularegular";
  font-size: 20px;
  margin-top: 20px;
}
/* line 430, ../sass/screen.scss */
#content .panel {
  background-color: white;
  border: solid 1px #e0e0e0;
}
/* line 434, ../sass/screen.scss */
#content .panel .panel-heading {
  background-color: #FFF8DC;
  border-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 8px;
  border-bottom: solid 1px #e0e0e0;
}
/* line 441, ../sass/screen.scss */
#content .panel .panel-heading h2.panel-title {
  margin: 0px;
  padding: 0px;
  padding-top: 0px;
  text-align: center;
}
/* line 447, ../sass/screen.scss */
#content .panel .panel-heading h2.panel-title .img {
  height: 20px;
  display: none;
}
/* line 451, ../sass/screen.scss */
#content .panel .panel-heading h2.panel-title .glyphicon {
  font-size: 20px;
  display: none;
}
/* line 455, ../sass/screen.scss */
#content .panel .panel-heading h2.panel-title span.the-title {
  margin-left: 10px;
  font-size: 26px;
  position: relative;
  top: 0px;
  text-transform: uppercase;
}
/* line 464, ../sass/screen.scss */
#content .panel .panel-body {
  background-color: white;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 5px 5px;
}
/* line 470, ../sass/screen.scss */
#content #row-users-producers {
  text-align: center;
  display: table;
  margin-bottom: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 476, ../sass/screen.scss */
#content #row-users-producers .col-md-6 {
  display: table-cell;
  width: 50%;
}
/* line 479, ../sass/screen.scss */
#content #row-users-producers .col-md-6 .panel {
  height: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 486, ../sass/screen.scss */
#content #row-users-producers .col-md-6.producer {
  padding-left: 0px;
}
/* line 489, ../sass/screen.scss */
#content #row-users-producers .col-md-6.users {
  padding-right: 0px;
}
/* line 502, ../sass/screen.scss */
#content #row-users-producers div.producer .btn-primary,
#content #row-functionalities-rates div.producer .btn-primary {
  margin-bottom: 5px;
}
/* line 507, ../sass/screen.scss */
#content #row-users-producers p.presentation,
#content #row-functionalities-rates p.presentation {
  font-family: "capsuularegular";
  color: black;
  font-size: 20px;
  line-height: 26px;
}
/* line 514, ../sass/screen.scss */
#content #row-users-producers p,
#content #row-functionalities-rates p {
  padding-bottom: 4px;
}
/* line 520, ../sass/screen.scss */
#content #row-functionalities-rates .block {
  margin-bottom: 10px;
}
/* line 522, ../sass/screen.scss */
#content #row-functionalities-rates .block p {
  font-family: "capsuularegular";
  font-size: 18px;
  margin-left: 70px;
}
/* line 527, ../sass/screen.scss */
#content #row-functionalities-rates .block img {
  float: left;
  width: 50px;
  height: auto;
}
/* line 532, ../sass/screen.scss */
#content #row-functionalities-rates .block a {
  text-decoration: none;
  color: black;
}
/* line 535, ../sass/screen.scss */
#content #row-functionalities-rates .block a:hover {
  color: #FF7F00;
}
/* line 542, ../sass/screen.scss */
#content #row-functionalities-rates .block-points-sale-products img {
  width: 40px;
}
/* line 550, ../sass/screen.scss */
#content #block-rates table th {
  font-family: "capsuularegular";
  font-weight: normal;
  font-size: 23px;
}
/* line 555, ../sass/screen.scss */
#content #block-rates table th, #content #block-rates table td {
  text-align: center;
}
/* line 562, ../sass/screen.scss */
#content #btn-demo:hover, #content #btn-demo:focus, #content #btn-demo:active {
  color: black;
}

/* line 572, ../sass/screen.scss */
#content #contact {
  display: none;
}
/* line 576, ../sass/screen.scss */
#content #contact .icon {
  width: 55px;
  top: -15px;
  margin-left: -70px;
}
/* line 582, ../sass/screen.scss */
#content #contact .form-control:focus {
  /*@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $jaune) ;
  border-color: $jaune ;*/
}
/* line 587, ../sass/screen.scss */
#content #contact .form-group {
  text-align: center;
}
/* line 591, ../sass/screen.scss */
#content #contact .img-right {
  float: right;
}
/* line 594, ../sass/screen.scss */
#content #contact .img-right img {
  width: 300px;
}

/* line 600, ../sass/screen.scss */
#bookmarked-producers {
  padding: 0px;
  padding-top: 15px;
  padding-bottom: 7px;
  margin: 0px;
  border-bottom: solid 1px #e0e0e0;
  background-color: white;
}
/* line 608, ../sass/screen.scss */
#bookmarked-producers h2 {
  float: left;
  font-family: "highvoltageregular";
  color: #323232;
  text-align: left;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  color: #323232;
}
/* line 619, ../sass/screen.scss */
#bookmarked-producers #producers {
  position: relative;
  top: -5px;
  left: 5px;
}
/* line 625, ../sass/screen.scss */
#bookmarked-producers #discover {
  padding-bottom: 20px;
  text-align: center;
}
/* line 629, ../sass/screen.scss */
#bookmarked-producers #discover p {
  padding-bottom: 0px;
  color: white;
}
/* line 634, ../sass/screen.scss */
#bookmarked-producers #discover .btn {
  background-color: white;
  color: #FF7F00;
  border: solid 1px white;
}

/* line 643, ../sass/screen.scss */
#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 17px;
  background-color: white;
  border-top: solid 1px #e0e0e0;
}
/* line 653, ../sass/screen.scss */
#footer a {
  color: black;
  font-family: "capsuularegular";
  font-size: 18px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  border-right: solid 1px white;
}
/* line 662, ../sass/screen.scss */
#footer a:hover {
  text-decoration: underline;
}
/* line 666, ../sass/screen.scss */
#footer a:last-child {
  border: 0px none;
}

/* line 672, ../sass/screen.scss */
#content #mentions {
  padding-top: 20px;
}
/* line 675, ../sass/screen.scss */
#content #mentions div.content {
  width: 60%;
  font-size: 90%;
}
/* line 680, ../sass/screen.scss */
#content #mentions p {
  padding-bottom: 15px;
}
/* line 684, ../sass/screen.scss */
#content #mentions h2 {
  color: black;
  padding-bottom: 40px;
  font-size: 25px;
  line-height: 35px;
  font-family: "highvoltageregular";
}
/* line 692, ../sass/screen.scss */
#content #mentions h3 {
  font-family: "highvoltageregular";
  font-size: 18px;
  padding-bottom: 12px;
  margin-top: 10px;
  color: black;
}

/* line 707, ../sass/screen.scss */
.vegas-loading {
  display: none;
}

/* line 714, ../sass/screen.scss */
#profil-user .form-group.field-user-no_mail label {
  font-weight: normal;
}
/* line 718, ../sass/screen.scss */
#profil-user .form-group label {
  cursor: pointer;
}
/* line 723, ../sass/screen.scss */
#profil-user #mails-days-distribution .form-group {
  float: left;
  margin-right: 15px;
}
/* line 726, ../sass/screen.scss */
#profil-user #mails-days-distribution .form-group label {
  font-weight: normal;
}
/* line 732, ../sass/screen.scss */
#profil-user p.strong {
  font-weight: bold;
}

/* login */
/* line 742, ../sass/screen.scss */
.back-white, .site-login .col-lg-5, .site-signup .col-lg-5 {
  background-color: white;
  padding: 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 749, ../sass/screen.scss */
.site-login .col-lg-5 {
  margin: 0px auto;
  float: none;
  max-width: 500px;
}

/* signup */
/* line 759, ../sass/screen.scss */
.modal-backdrop {
  z-index: 999;
}

/* line 764, ../sass/screen.scss */
.site-signup .col-lg-5 {
  margin: 0px auto;
  float: none;
  max-width: 500px;
}

/* line 774, ../sass/screen.scss */
#modal-cgv .modal-body h2 {
  margin-bottom: 5px;
  padding-bottom: 0px;
  font-size: 20px;
  margin-top: 0px;
}

/* line 784, ../sass/screen.scss */
#form-signup #user-producer {
  margin-bottom: 30px;
}
/* line 789, ../sass/screen.scss */
#form-signup #signupform-id_producer option:disabled {
  font-weight: bold;
  color: black;
}
/* line 795, ../sass/screen.scss */
#form-signup #champs-producer {
  display: none;
}
/* line 799, ../sass/screen.scss */
#form-signup #buttons-signup {
  margin-top: 30px;
}

/* line 804, ../sass/screen.scss */
#col-left {
  padding: 0px;
  z-index: 15;
}
/* line 808, ../sass/screen.scss */
#col-left .affix {
  width: 25%;
  border-right: solid 1px #e0e0e0;
  background-color: #FAFAFA;
  height: 100%;
}
/* line 815, ../sass/screen.scss */
#col-left #link-home {
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: block;
  padding: 10px;
  background-color: white;
}
/* line 823, ../sass/screen.scss */
#col-left #link-home img {
  height: 50px;
  margin-bottom: 5px;
  float: left;
}
/* line 829, ../sass/screen.scss */
#col-left #link-home .text {
  padding-left: 62px;
}
/* line 832, ../sass/screen.scss */
#col-left #link-home .text .bap {
  font-family: "comfortaalight";
  font-size: 24px;
}
/* line 837, ../sass/screen.scss */
#col-left #link-home .text .plateforme {
  font-size: 17px;
  font-family: "myriadpro-light";
  color: #FF7F00;
}
/* line 845, ../sass/screen.scss */
#col-left h2 {
  font-family: "myriadpro-regular";
  color: black;
  margin: 0px;
  margin-bottom: 10px;
  padding: 15px 0px 5px 15px;
}
/* line 853, ../sass/screen.scss */
#col-left #links {
  background-color: white;
  margin-bottom: 20px;
}
/* line 859, ../sass/screen.scss */
#col-left #links ul li a {
  text-align: center;
  border-right: solid 1px #e0e0e0;
}
/* line 863, ../sass/screen.scss */
#col-left #links ul li a:hover {
  background-color: #FF7F00;
  color: white;
}
/* line 869, ../sass/screen.scss */
#col-left #links ul li:last-child a {
  border-right: 0px none;
}
/* line 879, ../sass/screen.scss */
#col-left #producers nav.nav-producers ul li a {
  padding-left: 50px;
  height: 40px;
}
/* line 885, ../sass/screen.scss */
#col-left #producers nav.nav-producers ul li.active a {
  background-color: #FF7F00;
  position: relative;
  color: white;
}
/* line 890, ../sass/screen.scss */
#col-left #producers nav.nav-producers ul li.active a:after {
  right: -40px;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(187, 135, 87, 0);
  border-left-color: #BB8757;
  border-width: 20px;
  margin-top: -20px;
}
/* line 909, ../sass/screen.scss */
#col-left ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
/* line 913, ../sass/screen.scss */
#col-left ul li {
  margin: 0px;
  padding: 0px;
}
/* line 916, ../sass/screen.scss */
#col-left ul li a {
  text-decoration: none;
  font-family: "comfortaaregular";
  font-family: "myriadpro-regular";
  font-size: 15px;
  padding: 10px;
  border-bottom: solid 1px #e0e0e0;
  display: block;
  color: black;
}
/* line 926, ../sass/screen.scss */
#col-left ul li a span.name, #col-left ul li a span.wording {
  display: none;
}
/* line 933, ../sass/screen.scss */
#col-left p {
  padding: 20px;
  padding-top: 0px;
  color: gray;
}

/* line 941, ../sass/screen.scss */
#content .header-title {
  height: 79px;
  padding: 20px 20px;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  z-index: 10;
  box-sizing: border-box;
  border-bottom: solid 1px #e0e0e0;
  -moz-box-shadow: 0px 0px 8px #e0e0e0;
  -webkit-box-shadow: 0px 0px 8px #e0e0e0;
  box-shadow: 0px 0px 8px #e0e0e0;
}
/* line 953, ../sass/screen.scss */
#content .header-title h1 {
  color: black;
  font-family: "myriadpro-regular";
  margin: 0px;
  font-size: 25px;
  text-transform: uppercase;
}
/* line 961, ../sass/screen.scss */
#content .header-title h2 {
  color: gray;
  text-transform: none;
  font-size: 15px;
  margin-top: 3px;
  line-height: 20px;
}

/* line 972, ../sass/screen.scss */
.header-producer {
  z-index: 1;
}
/* line 974, ../sass/screen.scss */
.header-producer #block-main-img {
  height: 144px;
  overflow: hidden;
}
/* line 978, ../sass/screen.scss */
.header-producer #block-main-img #main-img {
  width: 100%;
  height: auto;
  border: 0px none;
  padding: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* line 987, ../sass/screen.scss */
.header-producer h1 {
  font-family: "comfortaaregular";
  text-align: center;
  position: absolute;
  top: 30px;
  left: 40px;
}
/* line 994, ../sass/screen.scss */
.header-producer h1 span {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 30px;
  border: dotted 1px black;
}

/* line 1005, ../sass/screen.scss */
nav#menu-producer {
  border-bottom: solid 1px #e0e0e0;
}
/* line 1009, ../sass/screen.scss */
nav#menu-producer ul li {
  padding: 0px;
  margin: 0px;
}
/* line 1012, ../sass/screen.scss */
nav#menu-producer ul li a {
  border-right: solid 1px #e0e0e0;
  text-decoration: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* line 1017, ../sass/screen.scss */
nav#menu-producer ul li a:hover {
  background-color: #FF7F00;
  color: white;
}

/* line 1027, ../sass/screen.scss */
.site-contact .col-lg-5 {
  margin: 0px auto;
  float: none;
}
/* line 1032, ../sass/screen.scss */
.site-contact #contact-phone {
  font-family: "capsuularegular";
  font-size: 20px;
  line-height: 25px;
}

/** 
Copyright distrib (2018) 

contact@opendistrib.net

Ce logiciel est un programme informatique servant à aider les producteurs 
à distribuer leur production en circuits courts. 

Ce logiciel est régi par la licence CeCILL soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme,  le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard  l'attention de l'utilisateur est attirée sur les risques
associés au chargement,  à l'utilisation,  à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant  des  connaissances  informatiques approfondies.  Les
utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL, et que vous en avez accepté les
termes.
*/
/* line 38, ../sass/_order_system.scss */
h1.title-system-order {
  color: #323232;
  padding-bottom: 35px;
  font-size: 30px;
  line-height: 35px;
  font-family: "highvoltageregular";
  text-align: center;
  position: relative;
  margin-top: 0px;
}
/* line 49, ../sass/_order_system.scss */
h1.title-system-order img {
  width: 35px;
  margin-right: 7px;
}

/* line 55, ../sass/_order_system.scss */
h2 {
  font-size: 20px;
  text-transform: uppercase;
}

/* line 63, ../sass/_order_system.scss */
#addproducerform-id_producer option:disabled,
#signupform-id_producer option:disabled {
  font-weight: bold;
  color: black;
}
/* line 67, ../sass/_order_system.scss */
#addproducerform-id_producer .lock,
#signupform-id_producer .lock {
  position: relative;
}
/* line 71, ../sass/_order_system.scss */
#addproducerform-id_producer .lock:before,
#signupform-id_producer .lock:before {
  font-family: "Glyphicons Halflings";
  content: "\e033";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: 1px;
  right: 0px;
}

/* line 83, ../sass/_order_system.scss */
#block-code-acces {
  display: none;
}

/* line 90, ../sass/_order_system.scss */
#main .list-producers .producer {
  padding-left: 0px;
  padding-right: 30px;
}
/* line 94, ../sass/_order_system.scss */
#main .list-producers .producer .panel {
  margin-bottom: 13px;
}
/* line 98, ../sass/_order_system.scss */
#main .list-producers .producer.selected .panel {
  border-bottom: solid 3px #FF7F00;
  margin-bottom: 11px;
}
/* line 103, ../sass/_order_system.scss */
#main .list-producers .producer .panel-heading {
  height: 150px;
  overflow: hidden;
  padding: 0px;
  background: none;
  background-color: #F8F1DD;
}
/* line 109, ../sass/_order_system.scss */
#main .list-producers .producer .panel-heading .img-back {
  width: 100%;
  height: auto;
  position: relative;
  top: -50%;
}
/* line 117, ../sass/_order_system.scss */
#main .list-producers .producer .panel-body {
  position: relative;
  width: 100%;
  height: 150px;
  max-height: 150px;
  text-align: center;
}
/* line 124, ../sass/_order_system.scss */
#main .list-producers .producer .panel-body h3 {
  margin-bottom: 4px;
}
/* line 128, ../sass/_order_system.scss */
#main .list-producers .producer .panel-body .locality {
  color: gray;
  margin-bottom: 10px;
}
/* line 133, ../sass/_order_system.scss */
#main .list-producers .producer .panel-body .glyphicon-check {
  color: #FF7F00;
  font-size: 40px;
  position: absolute;
  top: 34px;
  left: 32px;
}
/* line 141, ../sass/_order_system.scss */
#main .list-producers .producer .panel-body .remove {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 147, ../sass/_order_system.scss */
#main .list-producers .producer .panel-body .logo {
  display: none;
  width: 150px;
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -75px;
  background-color: white;
  padding: 10px 20px;
}
/* line 158, ../sass/_order_system.scss */
#main .list-producers .producer .panel-body .order-deadline,
#main .list-producers .producer .panel-body .credit {
  margin-top: 15px;
  font-size: 13px;
}
/* line 164, ../sass/_order_system.scss */
#main .list-producers .producer .panel-body .order-deadline {
  float: left;
}
/* line 168, ../sass/_order_system.scss */
#main .list-producers .producer .panel-body .credit {
  float: right;
}
/* line 171, ../sass/_order_system.scss */
#main .list-producers .producer .panel-body .credit .amount {
  font-size: 16px;
  color: #FF7F00;
  background-color: white;
  padding: 2px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
}
/* line 178, ../sass/_order_system.scss */
#main .list-producers .producer .panel-body .credit .amount .glyphicon {
  font-size: 13px;
}
/* line 184, ../sass/_order_system.scss */
#main .list-producers .producer .panel-body .info-credit {
  font-size: 17px;
  position: relative;
  top: 2px;
  left: 3px;
  color: #FF7F00;
}

/* line 195, ../sass/_order_system.scss */
#index-order {
  position: relative;
}
/* line 198, ../sass/_order_system.scss */
#index-order #logout {
  position: absolute;
  /*top: 45px ;
  right: 93px ;*/
  top: 0;
  right: 0;
  z-index: 10;
}
/* line 207, ../sass/_order_system.scss */
#index-order .home {
  text-align: center;
  padding-bottom: 20px;
}
/* line 212, ../sass/_order_system.scss */
#index-order #block-add-producer {
  padding-left: 0px;
  padding-right: 30px;
}
/* line 216, ../sass/_order_system.scss */
#index-order #block-add-producer .help-block {
  padding-bottom: 0px;
}
/* line 220, ../sass/_order_system.scss */
#index-order #block-add-producer .field-addproducerform-id_producer {
  width: 70%;
  float: left;
}
/* line 225, ../sass/_order_system.scss */
#index-order #block-add-producer .field-addproducerform-code {
  width: 70%;
  float: left;
}
/* line 230, ../sass/_order_system.scss */
#index-order #block-add-producer .btn {
  float: right;
  position: relative;
  top: 20px;
}
/* line 236, ../sass/_order_system.scss */
#index-order #block-add-producer .panel-heading {
  background: none;
  background-color: white;
  cursor: pointer;
}
/* line 242, ../sass/_order_system.scss */
#index-order #block-add-producer .panel-body {
  display: none;
}
/* line 248, ../sass/_order_system.scss */
#index-order #history-orders .status, #index-order #history-orders .amount {
  width: 175px;
}
/* line 251, ../sass/_order_system.scss */
#index-order #history-orders .amount {
  width: 100px;
}
/* line 258, ../sass/_order_system.scss */
#index-order #history-orders .locality {
  font-size: 11px;
  lin-height: 11px;
}
/* line 263, ../sass/_order_system.scss */
#index-order #history-orders a {
  text-decoration: none;
}
/* line 267, ../sass/_order_system.scss */
#index-order #history-orders .comment {
  margin-top: 5px;
}
/* line 269, ../sass/_order_system.scss */
#index-order #history-orders .comment span {
  font-size: 12px;
  background-color: white;
  color: #FF7F00;
  font-weight: bold;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  border: solid 1px #ccc;
}

/* line 282, ../sass/_order_system.scss */
.order-form {
  min-height: 600px;
  padding-bottom: 60px;
}
/* line 287, ../sass/_order_system.scss */
.order-form h2 {
  font-family: "myriadpro-regular";
}
/* line 291, ../sass/_order_system.scss */
.order-form #infos-importantes.alert-warning {
  float: right;
}
/* line 297, ../sass/_order_system.scss */
.order-form #datepicker-distribution .ui-datepicker {
  float: left;
  margin-right: 20px;
  font-size: 20px;
}
/* line 303, ../sass/_order_system.scss */
.order-form #datepicker-distribution .ui-datepicker-header {
  background-color: #FF7F00;
}
/* line 307, ../sass/_order_system.scss */
.order-form #datepicker-distribution .ui-datepicker-title {
  color: white;
}
/* line 313, ../sass/_order_system.scss */
.order-form #datepicker-distribution .ui-datepicker-prev:hover,
.order-form #datepicker-distribution .ui-datepicker-next:hover {
  border: 0px none;
  background: none;
}
/* line 319, ../sass/_order_system.scss */
.order-form #datepicker-distribution .ui-helper-clearfix:after {
  clear: none;
}
/* line 324, ../sass/_order_system.scss */
.order-form #datepicker-distribution .ui-datepicker-calendar a {
  text-decoration: none;
  background-color: white;
}
/* line 327, ../sass/_order_system.scss */
.order-form #datepicker-distribution .ui-datepicker-calendar a.ui-state-hover, .order-form #datepicker-distribution .ui-datepicker-calendar a.ui-state-active {
  background-color: #FF7F00;
  color: white;
  border-color: #cdc3b7;
}
/* line 336, ../sass/_order_system.scss */
.order-form .date-order {
  margin-bottom: 53px;
}
/* line 338, ../sass/_order_system.scss */
.order-form .date-order span {
  background-color: #FF7F00;
  color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  font-family: "myriadpro-regular";
  font-size: 20px;
}
/* line 348, ../sass/_order_system.scss */
.order-form #has-order-in-progress {
  margin-top: 15px;
}
/* line 351, ../sass/_order_system.scss */
.order-form #has-order-in-progress a {
  color: #a94442;
  text-decoration: none;
  font-weight: bold;
}
/* line 358, ../sass/_order_system.scss */
.order-form .field-order-id_distribution {
  display: none;
}
/* line 362, ../sass/_order_system.scss */
.order-form .field-order-id_point_sale {
  margin-top: 30px;
}
/* line 366, ../sass/_order_system.scss */
.order-form .field-order-id_distribution {
  margin-bottom: 0px;
}
/* line 368, ../sass/_order_system.scss */
.order-form .field-order-id_distribution label {
  margin-bottom: 0px;
}
/* line 372, ../sass/_order_system.scss */
.order-form .field-order-id_distribution .help-block {
  margin-bottom: 0px;
}
/* line 377, ../sass/_order_system.scss */
.order-form .field-order-id_point_sale {
  display: none;
}
/* line 381, ../sass/_order_system.scss */
.order-form .blocks {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
/* line 386, ../sass/_order_system.scss */
.order-form .blocks .block {
  text-decoration: none;
  width: 268px;
  height: 130px;
  float: left;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 8px;
  cursor: pointer;
  float: left;
  background-color: #f9f9f9;
  background-color: white;
  border: 1px solid #d8d8d8;
}
/* line 401, ../sass/_order_system.scss */
.order-form .blocks .block .name {
  font-family: "comfortaalight";
  font-size: 20px;
}
/* line 407, ../sass/_order_system.scss */
.order-form .blocks .block .address {
  color: gray;
  font-size: 13px;
  line-height: 16px;
}
/* line 413, ../sass/_order_system.scss */
.order-form .blocks .block .infos {
  margin-top: 7px;
}
/* line 415, ../sass/_order_system.scss */
.order-form .blocks .block .infos .day {
  font-weight: bold;
  display: none;
}
/* line 422, ../sass/_order_system.scss */
.order-form .blocks .block.selected {
  border-left: solid 5px #FF7F00;
}
/* line 425, ../sass/_order_system.scss */
.order-form .blocks .block.selected .contenu {
  position: relative;
  left: -4px;
}
/* line 431, ../sass/_order_system.scss */
.order-form .blocks .block:hover {
  -moz-box-shadow: 0px 0px 5px #d8d8d8;
  -webkit-box-shadow: 0px 0px 5px #d8d8d8;
  box-shadow: 0px 0px 5px #d8d8d8;
}
/* line 436, ../sass/_order_system.scss */
.order-form .blocks .block.disabled {
  display: none;
}
/* line 441, ../sass/_order_system.scss */
.order-form .blocks .block .comment {
  margin-top: 5px;
}
/* line 443, ../sass/_order_system.scss */
.order-form .blocks .block .comment span {
  background-color: #FF7F00;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 3px 10px;
}
/* line 454, ../sass/_order_system.scss */
.order-form #products {
  margin-top: 15px;
}
/* line 457, ../sass/_order_system.scss */
.order-form #products #label-products {
  display: block;
  margin-bottom: 5px;
}
/* line 462, ../sass/_order_system.scss */
.order-form #products .table {
  margin-top: 7px;
}
/* line 465, ../sass/_order_system.scss */
.order-form #products .table .photo {
  padding: 0px;
  width: 120px;
}
/* line 470, ../sass/_order_system.scss */
.order-form #products .table .th-photo, .order-form #products .table .td-photo {
  width: 120px;
}
/* line 474, ../sass/_order_system.scss */
.order-form #products .table .name {
  font-family: "comfortaalight";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}
/* line 481, ../sass/_order_system.scss */
.order-form #products .table .description {
  font-style: italic;
}
/* line 485, ../sass/_order_system.scss */
.order-form #products .table .recipe {
  font-size: 12px;
}
/* line 489, ../sass/_order_system.scss */
.order-form #products .table .input-group {
  width: 133px;
}
/* line 491, ../sass/_order_system.scss */
.order-form #products .table .input-group .quantity {
  text-align: center;
}
/* line 496, ../sass/_order_system.scss */
.order-form #products .table .column-quantity, .order-form #products .table .price-unit, .order-form #products .table .total {
  width: 150px;
  text-align: center;
}
/* line 501, ../sass/_order_system.scss */
.order-form #products .table td#total-order, .order-form #products .table td#total-order-vrac, .order-form #products .table td.total {
  text-align: center;
}
/* line 505, ../sass/_order_system.scss */
.order-form #products .table .epuise {
  display: none;
  text-transform: uppercase;
  color: #B32815;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
/* line 514, ../sass/_order_system.scss */
.order-form #products .table .quantity-remaining {
  font-size: 12px;
  margin-top: 8px;
}
/* line 518, ../sass/_order_system.scss */
.order-form #products .table .quantity-remaining .nb {
  font-weight: bold;
}
/* line 523, ../sass/_order_system.scss */
.order-form #products .table td.product, .order-form #products .table th.product {
  width: 70%;
}
/* line 527, ../sass/_order_system.scss */
.order-form #products .table td.price-unit, .order-form #products .table th.price-unit {
  width: 10%;
}
/* line 531, ../sass/_order_system.scss */
.order-form #products .table td.column-quantity, .order-form #products .table th.column-quantity {
  width: 10%;
}
/* line 535, ../sass/_order_system.scss */
.order-form #products .table td.total, .order-form #products .table th.total {
  width: 10%;
}
/* line 541, ../sass/_order_system.scss */
.order-form #bar-fixed {
  display: none;
  position: fixed;
  bottom: 0px;
  z-index: 100;
  background-color: white;
  padding: 15px;
  margin-bottom: 0px;
  -moz-box-shadow: 0 0 5px gray;
  -webkit-box-shadow: 0 0 5px gray;
  box-shadow: 0 0 5px gray;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 0px 0px;
  border-top: solid 1px #e0e0e0;
  background-color: #F9F9F9;
  background-color: white;
  text-align: center;
}
/* line 558, ../sass/_order_system.scss */
.order-form #bar-fixed.not-fixed {
  position: relative;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: solid 1px #e0e0e0;
  padding-right: 20px;
}
/* line 567, ../sass/_order_system.scss */
.order-form #bar-fixed.no-credit #bloc-valider-commande {
  margin-top: 0px;
  float: right;
}
/* line 573, ../sass/_order_system.scss */
.order-form #bar-fixed #total-order-bottom {
  background-color: white;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 5px 25px;
  border: solid 1px #e0e0e0;
}
/* line 580, ../sass/_order_system.scss */
.order-form #bar-fixed .btn-comment {
  float: left;
}
/* line 588, ../sass/_order_system.scss */
.order-form #bar-fixed .btn-comment {
  margin-right: 10px;
}
/* line 592, ../sass/_order_system.scss */
.order-form #bar-fixed #block-confirm-order {
  text-align: right;
  margin-top: 20px;
}
/* line 596, ../sass/_order_system.scss */
.order-form #bar-fixed #block-confirm-order button {
  width: 340px;
  margin-right: 10px;
}
/* line 602, ../sass/_order_system.scss */
.order-form #bar-fixed #checkbox-credit {
  float: right;
  width: 340px;
  padding: 3px 11px;
  background-color: white;
  border: solid 1px #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-right: 10px;
  text-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 613, ../sass/_order_system.scss */
.order-form #bar-fixed #checkbox-credit.payment-impossible {
  background-color: #e0e0e0;
}
/* line 617, ../sass/_order_system.scss */
.order-form #bar-fixed #checkbox-credit .info {
  color: gray;
  font-weight: normal;
}
/* line 622, ../sass/_order_system.scss */
.order-form #bar-fixed #checkbox-credit .the-credit {
  background-color: #FF7F00;
  color: white;
  padding: 2px 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 629, ../sass/_order_system.scss */
.order-form #bar-fixed #checkbox-credit .amount-paid {
  color: #FF7F00;
}
/* line 633, ../sass/_order_system.scss */
.order-form #bar-fixed #checkbox-credit #info-credit-empty {
  font-size: 12px;
}
/* line 637, ../sass/_order_system.scss */
.order-form #bar-fixed #checkbox-credit #credit-disabled {
  display: none;
  font-size: 12px;
}
/* line 643, ../sass/_order_system.scss */
.order-form #bar-fixed .btn-retour, .order-form #bar-fixed .cancel-order {
  float: left;
  margin-right: 5px;
}
/* line 648, ../sass/_order_system.scss */
.order-form #bar-fixed .cancel-order {
  color: #b92c28;
  background-color: white;
}
/* line 653, ../sass/_order_system.scss */
.order-form #bar-fixed #total-order-bottom {
  display: none;
  font-weight: bold;
  font-family: "comfortaalight";
  font-size: 24px;
}
/* line 660, ../sass/_order_system.scss */
.order-form #bar-fixed .field-order-comment {
  display: none;
}

/* line 668, ../sass/_order_system.scss */
.ui-datepicker .ui-widget-header {
  background: none;
  background-color: gray;
  border: 0px none;
  color: black;
  font-weight: normal;
}
/* line 676, ../sass/_order_system.scss */
.ui-datepicker .ui-datepicker-current-day a,
.ui-datepicker a.ui-state-hover {
  background: none;
  background-color: gray;
  border-color: black;
  color: black;
}

/* line 690, ../sass/_order_system.scss */
#page-producer h1,
#page-producer-code h1 {
  font-size: 40px;
}
/* line 693, ../sass/_order_system.scss */
#page-producer .info,
#page-producer-code .info {
  text-align: center;
}

/* line 699, ../sass/_order_system.scss */
#page-producer-code form#producer-code {
  max-width: 400px;
  margin: 0px auto;
}
/* line 703, ../sass/_order_system.scss */
#page-producer-code form#producer-code .form-group.buttons {
  text-align: center;
}

/** 
Copyright distrib (2018) 

contact@opendistrib.net

Ce logiciel est un programme informatique servant à aider les producteurs 
à distribuer leur production en circuits courts. 

Ce logiciel est régi par la licence CeCILL soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme,  le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard  l'attention de l'utilisateur est attirée sur les risques
associés au chargement,  à l'utilisation,  à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant  des  connaissances  informatiques approfondies.  Les
utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL, et que vous en avez accepté les
termes.
*/
@media screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 41, ../sass/_responsive.scss */
  #header nav .navbar-nav {
    padding-top: 10px;
  }
  /* line 47, ../sass/_responsive.scss */
  #header nav ul li a {
    padding: 3px 7px;
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  /* line 60, ../sass/_responsive.scss */
  #content {
    padding-top: 0px;
  }

  /* line 65, ../sass/_responsive.scss */
  #main .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 72, ../sass/_responsive.scss */
  #header {
    position: relative;
  }
  /* line 75, ../sass/_responsive.scss */
  #header #link-home {
    padding-left: 15px;
  }
  /* line 79, ../sass/_responsive.scss */
  #header .navbar-collapse {
    border: 0px none;
  }
  /* line 83, ../sass/_responsive.scss */
  #header nav {
    width: 100%;
  }
  /* line 85, ../sass/_responsive.scss */
  #header nav ul {
    position: relative;
    display: block;
    float: none;
    margin: 0px none;
    border: 0px none;
  }
  /* line 92, ../sass/_responsive.scss */
  #header nav ul li {
    display: block;
    float: none;
  }
  /* line 95, ../sass/_responsive.scss */
  #header nav ul li a {
    display: block;
    padding: 10px;
  }
  /* line 103, ../sass/_responsive.scss */
  #header nav ul li#logo {
    display: block;
  }
  /* line 110, ../sass/_responsive.scss */
  #header a#link-commander {
    display: none;
  }

  /* line 115, ../sass/_responsive.scss */
  #content #points-sale .content {
    padding-left: 10px;
    margin-top: 30px;
  }

  /* line 120, ../sass/_responsive.scss */
  #menu-user {
    position: relative;
    top: 0px;
  }

  /* line 125, ../sass/_responsive.scss */
  .connected #content {
    padding-top: 0px;
  }

  /* line 132, ../sass/_responsive.scss */
  .home #content #presentation-distrib h3 {
    color: #323232;
  }
  /* line 136, ../sass/_responsive.scss */
  .home #main {
    background-image: none;
    background-color: #FFF8DC;
  }
  /* line 140, ../sass/_responsive.scss */
  .home #main #row-users-producers {
    display: block;
    margin-bottom: 20px;
  }
  /* line 144, ../sass/_responsive.scss */
  .home #main #row-users-producers .col-md-6 {
    float: left;
    display: block;
    width: 100%;
  }
}
